


.clearout {
height:20px;
clear:both;
}

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;

}
.product-loc-title img {
    float: left;
    margin-left: 57px;
    margin-right: 8px;
    margin-top: 10px;
}
.hiproductdetail{
     max-width: 198px;
      width: 100%; 
     margin-left: 6px; border: 1px solid #ddd;
     height: 100%;
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;   
    height: 274px;
}
.product_slide_home {
    margin-top: 6px;
}
.hiproductdetail:hover {
    border: solid 1px #ff3f00;
}
.nbs-flexisel-item img {
 
    cursor: pointer;
    position: relative;
  
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 32px;
    height: 23px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
  
}

.nbs-flexisel-nav-left {
   right: 27px;
   top: -27px !important;
    background: url(../images/priv.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: -5px;
    top: -27px !important;
    background: url(../images/next.png) no-repeat;
}

