* {
    padding:0;
    margin:0;
}
body{
    font-family: Arial;
    font-size: 12px;
}
a{
    text-decoration: none;
    font-size: 12px;
}
a:hover{
    text-decoration: none;
 
}
@font-face {

      font-family: "UVNHONGHAHEP_R";
      src: url('../../../css/home/font/UVNHONGHAHEP_R.TTF');

 }
 
 @font-face {

      font-family: "ROBOTO-CONDENSED";
      src: url('../../../css/home/font/ROBOTO-CONDENSED.TTF') ;

 }
 @font-face {

      font-family: "ROBOTO-BOLD";
      src: url('../../../css/home/font/ROBOTO-BOLD.TTF') ;

 }
 
@font-face {
      font-family: "ROBOTO-REGULAR";
      src: url('../../../css/home/font/ROBOTO-REGULAR.TTF') ;
 }
 @font-face {
      font-family: "ROBOTO-BOLDCONDENSED";
      src: url('../../../css/home/font/ROBOTO-BOLDCONDENSED.TTF') ;
 }
 
@font-face {
      font-family: "tahomabd";
      src: url('../../../css/home/font/tahomabd.TTF') ;
 }
 .carousel-caption {
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
 .caroufredsel_wrapper{
                        width: 100% !important;
                        margin: 0px 0px 0px 0px !important; 
                       }
                       .bb{
                            margin-left: -77px !important;
                       }
 ul.tree{display:none;margin-left:11px;}li.folder{}
                        li.folderOpen{}
                        li.file{}a.treeview{color:Navy;font-family:verdana;font-size:8pt;}
                        a.treeview:link {text-decoration:none;}a.treeview:visited{text-decoration:none;}
                        a.treeview:hover {text-decoration:none;}
 .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 0px !important;
}
#sliderb_container img {
    height: 400px !important;
}
#bg_main {
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
min-height: 400px;
}
#titl3 span {
    background-color: #bf0000;
    display: block;
    float: left;
    height: 25px;
    margin-right: 6px;
    margin-top: 6px;
    padding-top: 10px;
    width: 5px;
}
#title2{
	background-image: url("/images/home/images/homed.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 79px;
}
#titl3 {
   
    color: #fff;
    font-size: 29px;
    font-weight: bold;
    
    margin: auto;
    padding-top: 21px;
    text-transform: uppercase;
    width: 1186px;
}
#titl3 > div {
   float: left;
    font-family: ROBOTO-CONDENSED;
    width: 50%;
}
.footern{
     margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 72px;
}
.row_footer_bct{
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px;
}
#row_passevent{
      margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
      padding-bottom: 34px;
    padding-right: 6px;
}
.sloganfot ul{
    margin-right: auto;
    margin-left: auto;
    padding-right: 6px;
}
#trna{
   margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px; 
}
.panner_head{
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px; 
}
#head_th{
      margin-right: auto;
    margin-left: auto;
 

}
#main{
    max-width: 1366px;margin: 0 auto;
}
#head_th{
   background: url('../../../images/home/images/bg_head.png') left repeat-x;
    height: 116px;
  
}
#nk_x li a:hover{
        text-decoration: underline !important;
        
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color:rgba(0, 0, 0, 0.67); 
        position: relative;z-index: 9999999;
}
.navbar-inverse {
      border-color: none !important;background: none !important;
}
.top{
    width: 100%;
    background: #68B24F !important;
}

ul#nk_x li a{
    color: #fff;
    font-size: 16px;
    font-family: ROBOTO-CONDENSED;
    text-transform: uppercase;
      line-height: 37px;
}
.navbar-nav>li>a{
    padding-bottom: 0px;
    padding-top: 0px;
}

.row_support{
    position: absolute;
    right: 1px;
    top: 0px;
    background: url('../../../images/home/images/icon_suport.png') bottom no-repeat;
    width: 200px;
    height: 76px;
    z-index: 99999999;
}
.row_support_all{
    background: url('../../../images/home/images/icon4.png') left 12px no-repeat;
    padding-left: 47px;
    margin-left: 20px;
    
}
.navbar {
    position: relative;
    min-height: 37px !important;
    max-height: 37px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent;
   
}

.row_top_sp{
    padding-top: 9px;
    padding-bottom: 4px;
}
.telephone_sport ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 10px;
}
.navbar-toggle{
    padding: 5px 7px !important;
    margin-top: 1px !important;
}
li.folder img{
    width: 30px;
    height: auto;
    position: relative;z-index: 9999;
}
li.folderOpen img{
     width: 30px;
    height: auto;
    position: relative;z-index: 9999;
}
#menu-custom{
    background: #bf0000;
    border-bottom: #920000 solid 5px;
    min-height: 42px;
    margin-bottom: 3px;
}
#icon_mb{
    display: none;
}
.row_support_mb{
        background: url('../../../images/home/images/icon_suport.png') bottom no-repeat;
    width: 200px;
    height: 76px;
        top: -29px;
    position: relative;
  text-align: left;
}
.logo img{
    max-width: 100%;
    height: auto;
}
.slogan{
    text-align: right;
}
.row_logo{
    width: 21.1%;
    float: left;
}
#right_hen{
       width: 76.4%;
        float: right;
        text-align: right;
}
.slogan img{
      width: 100%;
    height: auto;
}
.row_pading{
    padding-top: 10px;
}


.menuleft{
      border: solid 1px #fff800;
    margin-bottom: 5px;
}

.menuleft_title{
    
    height: 49px;
    background: url('../../../images/home/images/bg_cat.png') repeat-x;
    text-align: center;
}
.eventh23{
	height: 500px;
}
.menuleft_title a{
   color: #fff;
   font-size: 18px;
   background: url('../../../images/home/images/icon_cat.png') left no-repeat;
   text-transform: uppercase;padding-left: 23px;
   line-height: 49px; font-family: UVNHONGHAHEP_R;
}
.menuleft{
    border: solid 1px #fff800;
}
/* end menu */
 ul.menu li {
   border-bottom: solid 1px #fff600;
   padding-left: 12px;
  
}
 ul.menu li:last-child{
    border-bottom: none;
 
}
 ul.menu{

   position: relative;
  
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
 ul.menu li a{
   color: #0a78c7;
    display: inline-block;
    font-size: 13px;
    padding: 9px 0;
    width: 100%;
}
.menu li h3 a img {
    margin-right: 13px;
}
.submnenuh a {
    border: medium none !important;
    color: #000 !important;
    font-size: 13px !important;
    margin-left: 2px;
    padding: 0 !important;
}
.submnenuh li {
    border: medium none !important;
}
ul.submenus > li>a{
    color: #004890;
    background:rgba(0, 0, 0, 0) url("../../../images/home/images/content-top-list-style.gif") no-repeat scroll left 15px;
    padding-left: 15px;
    font-weight: bold;
}
ul.sub02{
    
}
ul.menu li a:hover{
   text-decoration: underline;
}
#flexiselhome {
    width: 1237px;
}
#flexiselhome li {
    margin-bottom: 6px;
      overflow: hidden;
}
ul.menu li ul.submenus {
        position: absolute;
        top: 0;
        right: 1px;
        z-index: 999999;
        font-weight: normal;
        display: none;
        left: 100%;
        max-width: 998px;
}
ul.menu li:hover ul {
   display:block;
}
ul.submenus {
 background-color: #fff !important;
    background-position: right top;
    background-repeat: no-repeat;
    border: 2px solid #ddd;
    border-radius: 4px;
 
    display: none;
    height: 326px;
    position: absolute;
    right: -71.4em;
    top: 36px;
    width: 680px;
    z-index: 20;
    padding: 7px 15px;
    
    border: 1px solid #3f76ac;
    border-bottom: 2px solid #81a5c7;
    box-shadow: -1px 0px 1px #caeaf7;
    overflow: hidden;

}
.submenus > li {
    border: medium none !important;
    float: left;
    width: 30%;
    padding-left: 25px !important;
}
ul.sub02 li{
    border-bottom: none;
        color: #000;
    text-decoration: none;
   
}
ul.sub02 li a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
     background: none;
     padding-left: 3px;
     font-weight: normal;
}
ul.sub02 li a:hover{
        color: #104cb4;
        
}
/* end menu */
/*menu detail */
.cat_left_detail{
    display: none;
}
ul.faxp li:hover .cat_left_detail {
   display:block;
}

.menuleft_title_detail {
    height: 46px;
    background: url('../../../images/home/images/bg_cat.png') repeat-x;
    text-align: center;
}
.menuleft_title_detail a {
    color: #fff;
    font-size: 18px;
    background: url('../../../images/home/images/icon_cat.png') left no-repeat;
    text-transform: uppercase;
    padding-left: 23px;
    line-height: 49px;
    font-family: UVNHONGHAHEP_R;
}
/*End detail */
.productgg a{
    color: #0a78c7;
    font-size: 18px;
    background: url('../../../images/home/images/icongg.png') left no-repeat;
    text-transform: uppercase;
    padding-left: 23px;
    line-height: 47px;
    font-family: UVNHONGHAHEP_R;
}
.productgg{
  background: #f5f5f5;
  height: 48px;
  border-bottom: dashed 1px #e1e1e1;padding-left: 19px;
}
.img_gg{
        width: 36%;float: left;padding-right: 4px;
}
.img_gg img{ 
       max-width: 100%;
       height: auto;
}
.rowname_gg{
     width: 53%;float: left;
}

.left_all{
       position: relative;
        top: -48px;
         
}

.menuleft_detail01{
      width: 23%;
        top: -48px;position: relative; 
        float: left;
}
.detail_left{
    border-left: solid 1px #fff800;
    border-right: solid 1px #fff800;
    border-bottom: solid 1px #fff800;
}
.catproduct_detail{
     border: solid 1px #fff800;
}
.hiproductgg ul li{
    padding-left: 12px;
    padding-top: 17px;
    padding-bottom: 16px;
    border-bottom: dashed 1px #e1e1e1;
}
.hiproductgg ul li:last-child{
  
    border-bottom: none;
}
.namegg a{
    color: #085780;
    font-size: 12px;
    font-weight: bold;
}
.namegg a:hover{
    text-decoration: underline;
}
.pricegg a{
     color: #a74c0a;
    font-size: 15px;
    font-weight: bold;
}


li#cat01 h3{
    background: url('../../../images/home/images/icon_left1.png') left no-repeat;
    
}
li#cat02 h3{
    background: url('../../../images/home/images/icon_left2.png') left no-repeat;
    
}
li#cat03 h3{
    background: url('../../../images/home/images/icon_left3.png') left no-repeat;
    
}
li#cat04 h3{
    background: url('../../../images/home/images/icon_left4.png') left no-repeat;
    
}
li#cat05 h3{
    background: url('../../../images/home/images/icon_left5.png') left no-repeat;
    
}
li#cat06 h3{
    background: url('../../../images/home/images/icon_left6.png') left no-repeat;
    
}
li#cat07 h3{
    background: url('../../../images/home/images/icon_left7.png') left no-repeat;
    
}
.menu_search{
    width: 47.4%;
    float: left;
    margin-left: 26%;
}
.menu_search .form-search {
    width: 99%;
     float: left;
    height: 30px;
    margin-top: 9px;
    background: #fff;
    border: solid #e4d600 1px;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
}
.input-category {
    left: 0;
    position: absolute;
    top: 1px;
    z-index: 11;
}
.select-cat {
    position: relative;
}
.input-category .select-custom {
    background: url('../../../images/home/images/select-custom.gif') no-repeat scroll 0 0 transparent;
    font: 11px/22px arial,tahoma;
    height: 21px;
    margin-left: 8px;
    overflow: hidden;
    padding: 0 15px 0 2px;
    position: absolute;
    width: 87px;
}
#se_nc{
    background: url('../../../images/home/images/p0.png') no-repeat;
}
.input-category select.styled {
    width: 121px;
    height: 30px;
    border: none;
}
.input-category select option {
    padding: 4px 10px 0 5px;
}
.menu_search .form-search input.input-text {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 31px;
  
    padding-left: 120px;
    width: 90%;
}
.menu_search .form-search button.button {
    float: right;
    width: 39px;
    height: 29px;
    border: none;
    position: absolute;
    right: 0px;
    z-index: 11;
}
#main_paginnation {
    clear: both;
    float: left;
}
.pager {
    margin: 0;
}
.pager li a {
    border-radius: 5px !important;
    padding: 4px 11px !important;
    color: #000;
}
li.last > a ,li.next > a,li.previous > a,li.first > a{
    padding: 7px 11px !important;
}
#pagination li a{
	margin-right:5px
}
.pager .next > a, .pager .next > span {
    float: none !important;
}
.page.selected a {
    background-color: #1e87b2;
    color: #fff;
}
.pager li {
    display: inline;
    float: left;
}
.row_menu_search{
    background: url('../../../images/home/images/bg_mnse.png') repeat-x;
    height: 48px;
    border: solid 1px #e4d600;
    border-radius: 4px;
}
.row_shop_cat{
    width: 25%;
    float: right;
    position: relative;
    z-index: 11;
}
.shop_cat ul li a{
    color: #0a78c7;
    font-size: 13px;
    font-weight: bold;
    line-height: 16px;
}
li#bd01 a{
    color: #393939;
    font-weight: normal;
}
.left_shop{
    width: 26%;float: left;
}
.shop_cat{
    width: 74%;
    float: right;
    padding-top: 9px;
}
.left_shop a{
    background: url('../../../images/home/images/iconcat.png') left no-repeat;
    padding: 20px 12px 49px 33px;
    padding-top: 37px;
    line-height: 33px;
    color: #fff;
}
#right_slide{

}
.row_slideshow{
       width: 100%;
     
}
.recument_right{
     width: 30.5%;
       float: left;
       margin-left: 5px;
}
.recument_right ul li img{
     width: 100%;
      
}
.recument_right ul li{
    margin-bottom: 3px;      
}
.recument_right ul li:last-child{
    margin-bottom: 0px;      
}
.grandchild {
    float: left;
}
.clearboth {
    clear: both;
}
.quangcao{
    width: 100%;
}
.row_recument_left{
    width: 37.7%;
    float: left;
}
.row_recument_left img{
    width: 100%;
}
.row_recument_right {
    width: 61.82%;
    float: right;
}
.row_recument_right img{
    width: 100%;
}
.row_recument_right ul li{
    margin-bottom: 5px;
}
.row_recument_right ul li:last-child{
    margin-bottom: 0px;
}
.quangcao{
    margin-top: 19px;
}
.ddmenuf{
      background: rgba(0, 0, 0, 0) url("../../../images/home/images/bg_foot.png") no-repeat scroll left 32px / 100% auto;
  height: auto;
    overflow: hidden;
    padding-bottom: 19px;
      height: 179px;
    
}
.ddmenufy{
background: url('../../../images/home/images/img-v.png') top repeat-x;
  
}
.visa{
    width: 15.1%;
    float: left;
    margin-right: 35px;
}
.catgt_f{
    width: 19%;
    float: left;
    margin-right: 10px;
}
.visa_title a{
  font-size: 15px;
  color: #0a78c7;
  text-transform: uppercase;
  font-family: UVNHONGHAHEP_R;
  line-height: 32px;
}
ul.row_dd{
    padding-top: 19px;
      line-height: 22px;
}
.catmenu_foot{
   width: 20%;
    float: left;
    margin-right: 30px;
}
.catmenu_foot:last-child{
    width: 17.5%;
    margin-right: 0px;
}
ul.row_dd li a {
    color: #fff;
    line-height: 16px;
    background: url('../../../images/home/images/icon001.png') left 4px no-repeat ;
    padding-left: 9px;
}
li#icon_a a{
    background: none;
}
.left_foot01{
    width: 45%;
    float: left;
    margin-right: 16px;
}
.left_foot02{
     width: 28.9%;
    float: left;
}
.left_foot02 img{
    width: 100%;
}
.title_thongtin a{
    color: #0a78c7;
    font-size: 15px;
    font-weight: bold;
}
.footern{
    padding-top: 14px;
}
.title_thongtin{
    padding-bottom: 17px;
}
li.int1{
    color: #0a78c7;
    font-size: 13px;font-weight: bold;
}
li.intdc{
    color: #6b6b6b;
    font-size: 13px;
}
.adresn{
    width: 50%;
    float: left;
    padding-bottom: 26px;
}
.left_foot03{
    width: 34.9%;
    float: right;
}
.left_foot03 img{
   width: 100%;
}
.footer_bct{
    width: 100%;
    border-top:solid 5px #fff494 ;
    margin-top: 12px;
}
.row_footer_bct_left ul li{
    font-size: 13px;
    color: #6a6a6a;
    line-height: 20px;
}
.row_footer_bct_left{
    width: 68%;
    float: left;
    margin-right: 19px;
}
.row_footer_bct{
    padding-top: 16px;
}

#search {
    position: relative;
    z-index: 10;
}
.ipsearch {
    border: none;
    background: url('../../../images/home/images/bg_ser.png') repeat;
    height: 34px;
    width: 43.7%;
    font-size: 12px;
    color: #949494;
    border: solid 1px #272727;
}
.btn_keyword {
    z-index: 99;
    background: url('../../../images/home/images/iconser.png') no-repeat;
    width: 54px;
    border: 0 none;
    display: inline-block;
    height: 32px;
    position: absolute;
    right: 1px;
    top: 1px;
  
}
.sendemail{
    width: 29%;
    float: right;
}
.bct{
    text-align: right;
    padding-top: 20px;
}
.row_footer_bct_left{
    padding-bottom: 8px;
}
.container_detail{
    width: 76.3%;float: right;
    padding-bottom: 15px;
}
.detail_productn_title a{
    color: #0a78c7;
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 6px;
}
a.icontt{
    background: url('../../../images/home/images/icontt1.png') left no-repeat;
    padding-left: 15px !important;
}
a.iconcatp{
    background: url('../../../images/home/images/icontt2.png') left no-repeat;
}
.detail_productn_title{
    background: #f1f1f1;
     padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    margin-bottom: 15px;
}
.container_detail{
    padding-top: 6px;
}
.namedetail a{
    color: #056794;font-size: 20px;
}
.namedetail{
    margin-bottom: 22px;
    padding-left: 20px;
}
.detail_left_img{
    width: 43.8%;
    float: left;
    padding-left: 20px;
}
.img_sub a {
    width: 24.2%;
  
}
.img_sub img {
    width: 100%;
    border: solid 1px #e7e7e7;
    height: 65px;
}
.img_sub img:hover {
    border: solid 1px #C4580A;
}
.right_detailn{
    width: 50%;
    float: left;
    margin-left: 3.8%;
    
}
.shotdes_detail{
    background: url('../../../images/home/images/box_x.png') bottom center no-repeat;
    padding-bottom: 14px;
}
.price_detail{
     background: url('../../../images/home/images/box_x.png') bottom center no-repeat;
    padding-bottom: 10px;
    padding-top: 10px;padding-left: 19px;
}
.price_detail a{
   color: #056794;
   font-size: 28px;font-weight: bold;
}
.price_detail span{
   color: #056794;
   font-size: 16px;
    text-decoration: line-through;
}
.soluong_detail{
     background: url('../../../images/home/images/box_x.png') bottom center no-repeat;
    padding-bottom: 10px;
    padding-top: 10px; 
}
.soluong_detail a{
  color: #056794;font-size: 14px;
}
input#sluong{
    color: #056794;
    width: 56px;
    height: 23px;
    text-align: center;
}
.status_detail{
     background: url('../../../images/home/images/box_x.png') bottom center no-repeat;
    padding-bottom: 10px;
    padding-top: 10px; 
}
.status_detail a{
   color: #056794;
   font-size: 14px;
}
.status_detail span{
   color: #ed145b;
   font-size: 14px;
   
}
.buyd{
    margin-top: 11px;
    margin-bottom: 20px;
}
ul#tab_detail{
    background: #f5f5f5;
    border: solid 1px #c2c2c2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #1e1e1e;
    cursor: default;
    background-color: #d6d6d6;
    font-size: 13px;
    font-family: UVNHONGHAHEP_R;
    text-transform: uppercase;
}
.nav-tabs>li>a {
    color: #1e1e1e;
    border-radius: 0px 0px 0 0 !important;
    font-family: UVNHONGHAHEP_R;
    text-transform: uppercase;
}

.navbar-nav>li {
    background: url('../../../images/home/images/litop.png') right repeat-y;
    min-height: 36px;
}

.nav>li>a{
        padding: 0px 10px 0px 10px !important;
}
.nav-tabs{
        border-bottom: 1px solid #c2c2c2;
}
.rownddt{
    margin-top: 13px;
}
.ndpd{
    padding: 10px 9px 10px 9px;
}
.detail_left_mobie{
    display: none;
  }
.locsp ul li h3 a{
    color: #0a78c7;
    font-size: 15px;
    font-weight: bold;
    background: url('../../../images/home/images/iconl.png') left 6px no-repeat;
    padding-left: 20px;
    
}
.locsp ul li h3{
  padding-bottom: 12px;
    
}
.locsp ul li{
  padding-left: 18px;

}
.locsp ul li ul li a{
    color: #0a78c7;
    font-size: 12px;
    background: none;
    padding-left: 0px;
}
.locsp ul li ul {
    padding-left: 20px;
}
.locsp ul li ul li{
   padding-top: 2px;padding-bottom: 2px;padding-left: 0px;
}
.product-loc{
    padding-bottom: 10px;
}
.locsp ul li ul li a:hover{
    text-decoration: underline;
}
.locsp ul li h3 a:hover{
    text-decoration: underline;
}
.qcdt img{
    max-width: 100%;
    height: auto;
}
.qcdt{
    padding-top: 7px;
    padding-bottom: 13px;
}
.rowproductindex{
    background: #f1f1f1;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
}
.rowproductindex a {
    color: #0a78c7;
    font-size: 12px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 6px;
}
.category-products-toolbar{
    background: #ffa800;
    height: 30px;position: relative;
}
.category-products-toolbar a{
    color: #fff;
    line-height: 30px;padding-left: 10px;
}
.category-products-toolbar select{
    
  
    width: 105px;
    height: 18px;
    border: solid 1px #e1e1e1;color: #656565;
}
.xxt{
    position: absolute;
    right: 21px;
    top: 6px;
}
.xxt span{
   color: #fff;
    padding-right: 10px;  
}
.item_img{
    width: 17%;
    height: auto;
    text-align: center;
    float: left;
}
.item_img img{
    max-width: 100%;
    height: auto;
    border: solid 1px #e4e4e4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.item_img img:hover{
        -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}


.item_product{
    padding-left: 3%;
    padding-top: 27px;
    padding-bottom: 10px;
    border-bottom: solid 1px #e4e4e4;
}
.item_right_name a{
    color: #0a78c7;
    font-size: 15px;
    font-weight: bold;
}
.item_right{
    width: 49%;float: left;margin-left: 3%;
}
.item_right_nd{
    color: #3e3e3e;
    font-size: 13px;
    line-height: 20px;
}
.item_right_buy{
    width: 26.5%;
    float: right;
    background: #e1e1e1;
    min-height: 130px;
    text-align: center;
}
li.ggindex a{
    color: #ee1c25;font-size: 20px;font-weight: bold;

}
li.ggindex{
    padding-top: 9px;
    padding-bottom: 8px;
}
li.gbd a{
    color: #505050;text-decoration: line-through;
}
li.gbd {
   padding-bottom: 11px;
}
.new_index_title{
    background: #f5f5f5;
    height:48px ;
    border-bottom:dashed 1px #e1e1e1;
    text-align: center;
}
.new_index_title a{
  line-height: 47px;
  color: #0a78c7;
  font-size: 20px;
  font-family: UVNHONGHAHEP_R;
  background: url('../../../images/home/images/kttn.png') left no-repeat;
  padding-left: 30px;
}
ul#cattog li{
     border-bottom:dashed 1px #e1e1e1;
     padding-top: 9px;
     padding-bottom: 9px;
     padding-left: 26px;
}
ul#cattog li:last-child{
     border-bottom:none;
 
}
ul#cattog li a{
   color: #0a78c7;
   font-size: 13px;
   font-weight: bold;
   background: url('../../../images/home/images/tn.png') left 3.5px no-repeat;
   padding-left: 11px;
}
ul#cattog li a:hover{
    text-decoration: underline;
}
.recument_new img{
    width: 100%;
    margin-bottom: 22px;
}
.recument_new{
    margin-top: 5px;
}
.new_lq_title a{
    color: #0a78c7;font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    background: url('../../../images/home/images/iconnewlq.png') left no-repeat;padding-left: 21px;
}
.new_lq_title{
    height: 28px;
    background: #f5f5f5;
    border: solid 1px #c2c2c2;
    padding-left: 18px;
    margin-bottom: 4px;
}
ul#lilq li{
    padding-top: 2px;
    padding-bottom:2px;
    padding-left: 30px;
}
ul#lilq li a{
  color: #0a78c7;font-size: 13px;
  background: url('../../../images/home/images/ynk.png') left 3px no-repeat;padding-left: 11px;
}
.row_left{
    width: 23.3%;
    position: relative;
    top: -48px;
    float: left;
}
#event_hot {
     background-image: url("/images/home/images/Map.png");
    background-position: 38em 50px;
    background-repeat: no-repeat;
    background-size: 63% auto;
    height: 478px;
    margin-top: 4px;
}
.home_product {
    margin-top: 9px;
    width: 99%;
    margin-left: 1%;
}
#containner {
       margin: auto;
    width: 1200px;
}
li.hipd_name a {
    color: #0495c1;
    font-size: 13px;
    font-weight: bold;
}
.hipd_conten {
    width: 50%;
    float: left;
    margin-left: 10px;
}
li.hipd_price a {
    color: #0495c1;
    font-size: 10px;
    text-decoration: line-through;
}
li.hipd_pricesall a {
    color: #b71e23;
    font-size: 16px;
    font-weight: bold;
}
li.hipd_buy a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: #0495c1;
    padding: 5px 6px 5px 6px;
}
li.hipd_ct {
    text-align: justify;
}
li.hipd_ct a{
        color: #3e3e3e;
    font-size: 12px;
}

.row_home_title a span {
   background: url('../../../images/home/images/icon2.png') right no-repeat;
    padding-right: 47px;
}
.row_home_title a {
   background: #fff url('../../../images/home/images/icon1.png') left no-repeat;
   
    padding-left: 18px;
    font-size: 15px;
    font-family: UVNHONGHAHEP-bol;
    position: absolute;
    top: -5px;
    left: 0px;
    color: #0495c1;
}
.row_home_title {
    background: #0495c1;
    height: 11px;
    position: relative;
    margin-bottom: 25px;
}

.new_left ul li a {
    color: #3e3e3e;
    font-size: 13px;
}
.new_left ul li {
    border-bottom: solid 1px #0495c1;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 5px;
    text-align: justify;
    padding-right: 4px;
}
.new_left {
    border: solid 1px #0495c1;
}
.hipd{
    width: 50%;
    border-bottom: solid 1px #e0f2f7;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    max-height: 207px;overflow: hidden;
}
.hipd_img{
    width: 45%;
    float: left;
}
.hipd_img img{
    width: 100%;
    padding: 2px;
    border: solid 1px #cfcfcf;
}
li.hipd_buy {
    margin-bottom: 7px;
    margin-top: 7px;
}
.navbar-collapse{
      padding-right: 0px!important; 
     padding-left: 0px !important;  
}
.lk a{
   padding-left: 13px;
}


.lk{
    margin-bottom: 3%;
  
}
/* klq */
.Newh1{
    width: 16.3%;
    float: left;
    margin-right: 6%;
}
.Newh1_img{
    width: 100%;
   text-align: center;
}
.Newh1_img img{
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border: solid 1px #eaeaea;
    box-shadow: none;
       -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.Newh1_name a{
    color: #347c1c;
    font-size: 18px;
    line-height: 21px;
}
.Newh1_name{
    text-align: center;
    padding-top: 20px;
}
.slogan_home{
    padding-top: 50px;padding-left: 13%;
}

.Newh1_img img:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.Newh1_name a:hover{
    text-decoration: underline !important; 
}
.cathome02{
    background: #e6e6e6;
    margin-top: 60px;
    position: relative;
    padding-bottom: 50px;
}
.videosh_title{
    margin-bottom: 10px;
}
.videosh_title a{
    color: #347c1c;
    font-size: 35px;
    font-family: ROBOTO-CONDENSED;
     background: url('../../../images/home/images/bg_h2.png') left 8px no-repeat;
     padding-left: 16px;
}

.videosh_title02 a{
    color: #347c1c;
    font-size: 35px;
    font-family: ROBOTO-CONDENSED;
     background: url('../../../images/home/images/bg_h2.png') left 8px no-repeat;
     padding-left: 16px;
}
img.tron1{
    position: absolute;
    left: 50%;top: -3.9%;
}
.videosh{
    width: 45%;float: left;
}
.h2vdn{
    margin-top: 35px;
}
.catnewhome2{
    width: 45%;
    float: right;
}

.Newh2{
    width: 100%;
    border-bottom: solid 1px #dddddd;
    padding-top: 10px;
}
.Newh2_img{
   width: 24.4%;
   float: left;
   background: #fff;
   border: solid 1px #d4d4d4;
}
.Newh2_name{
    width:75%;
    float: left;
    margin-left: 2%;
}
.fua a{
    color: #262626;
    font-weight: bold;
    font-size: 20px;
}
.Newh2_name span a{
    color: #bf0000;
    font-size: 11px;
    font-weight: bold;
}
a#mtgql{
     background: url('../../../images/home/images/nl.png') left no-repeat;
     padding-left: 6px;
     margin-left: 2px;
}
.Newh2_img img{
    width: 89.5%;
   
    margin: 6px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.Newh2_img img:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.xt{
    background: #c2c2c2;
    height: 20px;
    text-align: right;
    line-height: 20px;
    padding-right: 10px;
}
.xt span{
    font-size: 14px;
    color: #fff;
}
.xt a{
    font-weight: bold;
    font-size: 14px;
    color: #347c1c;
}
.newhome3{
    text-align: center;
    margin-bottom: 65px;
}
.newhome3 a{
  color: #68b24f;
  font-size: 28px;
  font-family: ROBOTO-BOLDCONDENSED;
  text-transform: uppercase;
}
#hocvien{
    margin-top: 26px;
}
.Newh3{
    width: 50%;
    float: left;
    margin-bottom: 20px;
}
.Newh3_img{
    width: 22%;
    float: left;
}
.Newh3_img img{
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.Newh3_img img:hover{
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.Newh3_name{
    width: 70%;
    float: left;
    padding-left: 3.5%;
}
.fua3 a{
    color: #68b24f;
    font-size: 18px;
}
.fua3 a:hover{
    text-decoration: underline !important;
}
.fua3{
   padding-bottom: 15px;
}
.Newh3_name span{
    color: #3e3e3e;font-size: 14px;
}
.cathome03{
    background: #68b24f;
    position: relative;
    padding-bottom: 27px;
}
img.tron2{
        position: absolute;
    left: 50%;
    top: -5.5%;
}
.facepage{
    width: 44.3%;
    float: left;
}
.thongtindk_title{
    text-align: center;padding-bottom: 20px;
}
.thongtindk_title a{
    color: #fff;
    font-size: 22px;line-height: 27px;
}

.thongtindk{
    width: 43%;
    float: right;
}
.slcg a{
    color: #fff;
    font-size: 15px;
}
.thongtindk{
    text-align: center;
}
.form-re{
    width: 96% !important;
    height: 33px !important;
    border: solid 1px #347c1c !important;
    margin-bottom: 15px !important;
  
}
.slcg{
    padding-bottom: 20px;
}
.subsend input{
    width: 370px;
    height: 38px;
     background: url('../../../images/home/images/tvmp.png') center no-repeat;
     border: none !important;
}
input.dk_capcha{
    width: 96% !important;
    height: 33px !important;
    border: solid 1px #347c1c !important;
}
#macc1{
    width: 45%;
    float: left;
}
#macc2{
   width: 50%;
    float: left; 
}
#captchaimghome{
    height: 33px;
   border: solid 1px #347c1c !important;
}
#captchas{
   margin-bottom: 15px !important;
}
#captchaimghome_button{
    color: #fff;
    padding-left: 5px;
}
.footern_title a{
    color: #68b24f;
    font-size: 28px;
    font-family: ROBOTO-BOLDCONDENSED;
    text-transform: uppercase;
}
.footern_title{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 35px;
}
.adrdc ul{position: relative;}
.adrdc ul li{margin-bottom: 23px;}
.adrdc ul li a{background: url('../../../images/home/images/adres.png') left no-repeat;padding-left: 15px;color: #68b24f;font-size: 15px;cursor: pointer; }
.adrdc ul li ul{
        display: none;
    position: absolute;
    top: 0px;
    width: 100%;
    left: 123%;
}
.adrdc ul li ul img{
 
        max-width: 457.859px;height: 292px;height: auto;
    border: solid 1px #b2b2b2;
}
.adrdc ul li:hover ul{ display: block;}
.adrdc ul li:hover{transition: all 0.25s;}
.right_foot{
    width: 44.7%;
    float: right;
    text-align: center;
}
.right_foot img{
    max-width: 100%;height: 292px;height: auto;
    border: solid 1px #b2b2b2;
}
a.iconf1{
    background: url('../../../images/home/images/mail.png') left no-repeat;padding-left: 19px;color: #68b24f;font-size: 15px;
}
a.iconf2{
    background: url('../../../images/home/images/phone.png') left no-repeat;padding-left: 19px;color: #68b24f;font-size: 15px;
}
a.iconf3{
    background: url('../../../images/home/images/chat.png') left no-repeat;padding-left: 19px;color: #68b24f;font-size: 15px;
}
a.iconf4{
    background: url('../../../images/home/images/youtu.png') left no-repeat;padding-left: 19px;color: #68b24f;font-size: 15px;
}
.ttlb ul li{
    margin-bottom: 23px;
}
.catfootpr{
    background: url('../../../images/home/images/nenf.png') repeat;
    border-top:solid 4px #be0200 ;
    padding-bottom: 40px;
    min-height: 237px;
}
.new_bd_fot{
    width: 14.9%;
    float: left;
    margin-right: 10%;
}
.new_bd_fot_title a{
    color: #bdbdbd;
    font-size: 13px;
}

#bg_fotter{
    padding-top: 20px;
}
ul.dhsf li{
    padding-bottom: 15px;
}
ul.dhsf li a{
   color: #dedede;
   font-size: 14px;
}

.new_bd_fot_right{
    width: 14.9%;
    float: left;
    margin-right: 10%;
}

.sloganfot{
    text-align: center;
    background: #000;
}
.sloganfot ul li a{
    line-height: 32px;
    color: #fff;
    font-size: 13px;
}
.sloganfot ul li{
    float: right;
    padding-left: 8px;
    padding-right: 8px;
}
.summary_new{
    padding-bottom: 10px;
}
.content_news{
    padding-bottom: 10px;
}
#newsll{
    
    color: #68b24f;
    font-size: 15px;
    padding-bottom: 10px;
}
.item_title_newsay a{
    color: #68b24f;
    font-size: 14px;
    padding-left: 9px; 
}
.item_title_newsay{
    color: #68b24f;
    font-size: 14px;
  
}
#ctus{
   background: url('../../../images/home/images/icon-ct.png') left no-repeat;  
     padding-left: 23px !important;
     margin-left: 10px;
}
a.evbd{
  color: #fff;
    font-family: ROBOTO-CONDENSED;
    font-size: 26px;
    font-weight: normal;
}
#nly{
    background: url('../../../images/home/images/bg_titleslide.png') left no-repeat;
}
.Newh2_img02{
   width: 6%;
    float: left;
}
.carousel-caption {
    background-image: url("/images/home/bg5.png");
    height: 100%;
    left: 9%;
    padding-bottom: 30px;
    right: 58%;
    top: 0;
}
.Newh2_img02 img {
    max-width: 100%;

}
#newss{
    width: 100%;
    display: block;
}
 
#nly div[u="slides"] {
    top: -40px !important;
}


@media (min-width: 1200px){
#bg_mainh {
    background-color: #3b3b3b;
    margin: auto;
    overflow: hidden;
    width: 100% !important;
}
#bg_main02 {
    margin: auto;
    width: 1186px !important;
    overflow: hidden;
}
.sloganfot ul{
     margin: auto;
    width: 1186px !important;
    overflow: hidden; 
}
.slidec {
    height: 435px;
    width: 100%;
}
#trna{
        margin: auto;
        width: 1186px !important;
        
}
#img_passevent{
    margin: auto;
    width: 1186px !important;
    overflow: hidden;
}
.box_menu{
    width: 1186px;
     margin: auto;
}
   .detail_left_mobie{
        display: none;
      }
.panner_head{
    width: 1186px;
     margin: auto;
      position: relative;
}
.eventh1 {
    height: 433px;
    margin: auto;
    overflow-x: auto;
    padding-top: 55px;
    width: 1186px;
}

#hotlinef3 {
    color: #fff;
    font-family: times new roman;
    font-size: 21px;
    font-weight: bold;
    position: absolute;
    right: 275px;
    top: 8px;
}
.sloganfot li#cpoy2 {
     color: #fff;
    float: left;
    font-size: 13px;
    padding-left: 0;
    padding-top: 7px;
}
.footern{
    width: 1186px;
     margin:0 auto;
}
.row_footer_bct{
    width: 1186px;
    margin:0 auto;
}
.row_ddmenu_visa{
    width: 1186px !important;
    margin: 0 auto;
}
.row_ddmenuf{
    width: 1186px !important;
    margin: 0 auto;
}
#row_head{
   width: 1186px;
   margin: auto; 
   position: relative;
}
a.sall01{
    background: url('../../../images/home/images/sall.png') no-repeat;
    position: absolute;top: 0px;
    right: 0px;
       padding: 38px 29px 48px 21px;
    font-size: 28px;
    color: #fff;
    text-align: center;
}
.topsall{
    position: relative;
}
a.btn-booknow01{
    background: #c42626;
    padding-right: 6.8%;
    padding-left: 6.8%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 23px;
    margin-right: 9px;
}
a.btn-moreinfo02{
    background: #9e1515;
    padding-right: 4.7%;
    padding-left: 4.7%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 23px;
    margin-right: 9px;
}
a.btn-mail03{
    background: #a86666;
    padding-right: 6.8%;
    padding-left: 6.8%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 23px;
}

}
.register_new li {
    list-style: outside none none;
}
@media (max-width: 768px){
	.asile {
    height: 100% !important;
}
#cpoy2 {
    display: none;
}
#right_hen {
    float: right;
    text-align: right;
    width: 100% !important;
}
#hotlinef3 {
   display: none;
}
.Newh2_name {
    float: left;
    margin-left: 2%;
    width: 89% !important;
}
.fua a {
    color: #262626;
    font-size: 16px !important;
    font-weight: bold;
}
.register_new {
    clear: both;
    float: none !important;
    margin: auto;
    padding-top: 9px;
    width: 35% !important;
}
.con5 {
    display: none;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    height: auto !important;
    max-width: 100%;
}
#hi_event img {
    border: 1px solid #fff;
    height: auto !important;
    max-width: 100%;
    width: 100%;
}
span.jssora05r {
    top: 43% !important;
}
.logo {
    margin-bottom: 12px;
    padding-top: 10px;
    text-align: center;
}
span.jssora05l {
    top: 43% !important;
}
.row_support{
    display: none;
}
#sliderb_container img {
    height: 100% !important;
}
#event_hot a {
    color: #fff;
    font-size: 16px !important;
}
#title2 {
    display: none !important;
}
.sloganfot ul li {
    float: none !important;
    padding-left: 8px;
    padding-right: 8px;
}
#head_th {
    background: rgba(0, 0, 0, 0) url("../../../images/home/images/bg_head.png") repeat-x scroll left center;
    height: auto !important;
}
.row_pading {
    background-color: #313131;
    padding-top: 0 !important;
}
input.ipsearch {
    height: auto !important;
    margin-bottom: 8px;
    padding:7px 0 !important;
    top: 0;
    width: 100%;
}
.panner_head {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.row_logo {
    float: none;
    margin: 0 auto 7px;
    max-width: 100%;
    min-width: 50%;
}
button.navbar-toggle {
    margin-right: 0;
    margin-top: 1px !important;
    padding: 9px 10px !important;
}
button.navbar-toggle {
    right: 0 !important;
    top: 0 !important;
}
.navbar-collapse.collapse.in {
    background-color: #000;
    display: block;
    position: absolute;
    top: 37px;
    width: 100%;
}
.navbar-nav > li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    min-height: 36px;
}
.btn_keyword {
    top:2px !important;
}
#containner {
    margin: auto;
    width: 100% !important;
}
.eventh1 {
    margin: auto;
    overflow: hidden;
    padding-top: 35px !important;
    width: 100% !important;
}
.eventh1_namew {
    background-image: url("/images/home/images/iconnews.png");
    background-repeat: no-repeat;
    height: 54px;
    margin-bottom: 27px;
    padding-left: 73px;
    width: 100% !important;
}
#event_hot {
    background-color: #292929;
    background-image: none;
    background-position: right center;
    background-repeat: no-repeat;
    height: auto !important;
    margin-top: 4px;
}
.eventh1_namew {
    background-image: url("/images/home/images/iconnews.png");
    background-position: 11px 0 !important;
    background-repeat: no-repeat;
    height: 54px;
    margin-bottom: 24px;
    padding-left: 73px;
    width: 39%;
}
#row_passevent {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 34px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#hi_event {
    float: left;
    height: 144px !important;
    margin:7px 1% 5px !important;
    width: 48% !important;
}
.navbar-collapse{
      padding-right: 15px!important; 
     padding-left: 15px !important;  
}
.right_foot{
    width: 100%;
}
ul#nk_x li ul{
    position: static !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
          background: rgba(0, 0, 0, 0.67);
          overflow: hidden;
}
.facepage{
    display: none;
}
.Newh3_name{
  width: 100%;  
}
.catfootpr{
    padding-left: 6px;
    padding-right: 6px;
}
#newss{
    width: 100% !important;
}
.comment_right{
 width: 100% !important;   
}
a.title_homeevent {
    color: #fff;
    font-size: 15px !important;
    font-family: tahomabd;
    text-transform: uppercase;
    line-height: 35px;
    padding-bottom: 10px;
}
li.eventnc01 a {
    font-size: 15px !important;
}
li.eventnc02 a {
    font-size: 50px !important;
}

li.eventnc03 a {
    font-size: 25px !important;
}
ul.eventnc li a {
    color: #fff;
    font-family: tahomabd;
    line-height: 43px !important;
}


.adrdc ul li ul:hover{
   display: none;
}
.csf{
    padding-bottom: 3%;
}
.cathome02{
    padding-left: 6px;
    padding-right: 6px;
}
.cathome03{
    padding-left: 6px;
    padding-right: 6px; 
}
.catnewhome2{
    width: 100%;
}
.videosh{
    width: 100%;
}
.thongtindk{
    width: 100%;padding-left: 25px; padding-top: 30px;
}
   #icon_mb{
        display: block;
        right: 72px;position: absolute;
        top: 0px;
       text-align: right;
       z-index: 9999;
    } 
     .row_left{
        display: none;
    }
    .detail_left{
      width:100%;
        border: solid 1px #fff800;
        display: none;
      }
    .container_detail{
        width: 100%;
    }
      .detail_left_mobie{
        display: block;
        border: solid 1px #fff800;
      }
    li.lmobie{
      width: 50%;
      float: left;  
    }
    .sendemail{
    width: 100%;
    }
    .row_footer_bct_left{
        width: 100%;
    }
    ul.menu li a {
    color: #0a78c7;
    font-size: 12px;
    }
    .catproduct_detail{
        display: none;
    }
    .left_foot01{
        width: 100%;
    }
    .left_foot02{
        width: 100%;
    }
    .left_foot03{
        width: 100%;
    }
    .ddmenuf{
        display: none;
    }
 
    .menuleft_title_detail a {
        color: #fff;
        font-size: 12px;
        background: url('../../../images/home/images/icon_cat.png') left no-repeat;
        text-transform: uppercase;
        padding-left: 23px;
        line-height: 49px;
        font-family: UVNHONGHAHEP_R;
    }
    
  
    .menuleft{
        display: none;
    }
    .menu_search{
        width: 80%;
        margin-left: 0.5% !important;
    }
    .row_shop_cat{
     width: 12%;   
    }
    .shop_cat{
        display: none;
    }
    #right_slide{
        width: 100%;
    }
    .row_slideshow{
        width: 67.6%;
    }
    a.btn-booknow01{
    background: #c42626;
    padding-right: 6.8%;
    padding-left: 6.8%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 13px !important;
    margin-right: 9px;
}
a.btn-moreinfo02{
    background: #9e1515;
    padding-right: 4.7%;
    padding-left: 4.7%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 13px !important;
    margin-right: 9px;
}
a.btn-mail03{
    background: #a86666;
    padding-right: 6.8%;
    padding-left: 6.8%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 13px !important;
}
     #language-selector {
    display: block !important;
    margin: 10px;
    right: 9px !important;
}
#language-selector {
    display: block !important;
    margin: 10px;
    right: 5px !important;
    top: 31px !important;
}
}
@media (min-width: 768px){
    .navbar-nav {
        float: right !important;
        margin: 0;
    }
}
@media (max-width: 480px) {
   
    .row_logo {
        max-width: 100%;
        min-width: 50%;
        margin: 0 auto;
        float: none;
    }
   
    #logo_foot{
        display: none;
    }
  
    .new_detailel_title02 a{
        font-size: 15px !important;
    }
    .siga{
    width: 100% !important;
  
    }
    .vnga{
        width: 100% !important;
     }
    .imgright_contac{
        display: none;
    }
    .form_contaceg{
        width: 100% !important;
    }
    li.dlbr a{
        font-size: 11px !important;
    }
    .tnl {
        margin-left: 31% !important;
    }
    .ipsearch {
           top: 8px;
            width: 100%;
     }
     .btn_keyword{
        top: 9px;
     }
  
    #row_passevent{
        padding-bottom: 20px;
    }
    .right_catf{
        width: 100% !important;
    }
    .new_bd_fot_title a {
        color: #bdbdbd;
        font-size: 11px !important;
    }
    .eventh1{
        width: 100% !important;
        margin-bottom: 10px;
        clear: both;
    }
    .eventh2{
        width: 100% !important;
    }
    .videosh{
        display: none;
    }
    #right_hen{
        width: 100%;
    }
    .lk{
      display: none;
    }
    .navbar-inverse{
        border: none;
    }
    .catnewhome2 {
        width: 100%;
        margin-top: 6%;
    }
     #bg_fotter {
         padding-top: 20px;
        padding-left: 5%;
    }   
    .new_bd_fot{
        width: 40%;
    }
    .new_bd_fot_right {
        width: 40%;
    }
    .navbar-header{
        height: 2px;
    }
    img.tron1 {
    position: absolute;
    left: 50%;
    top: -4%;
    }
    .slogan_home{
        padding-left: 0px;
    }
    .Newh1 {
        width: 43%;
        float: left;
        margin-right: 6%;
    }
    .thongtindk {
    width: 100%;
    padding-left: 0px; 
    }
    #contact-form{
        padding-left: 11px;
    }
     .navbar-toggle{
        top: -30px !important;
        right: 0px !important;
    }
    .subsend input {
        width: 100%;
        max-width: 370px;
        height: 38px;
        background: url('../../../images/home/images/tvmp.png') center no-repeat;
        border: none !important;
    }
    .row_shop_cat{
        width: 17%;
    }
    #head_th{
           background-size: auto;
    }
    .detail_productn{
        width: 100%;
    }
    .right_detailn{
        width: 100%;
    }
    .detail_left_img{
        width: 100%;
        margin-bottom: 12px;
    }
}
  .btn-menu-hidden {
        background: url('../../../images/home/images/ico-menu.png') center center no-repeat #1f2228;
        width: 35px;
        height: 27px;
        position: absolute;
        top: 2px;
        left: 5px;
        z-index: 999;
        cursor: pointer;
        display: none;
    }
    @media screen and (max-width: 767px) and (min-width: 481px){
    .btn-menu-hidden {
        display: block;
    }
    }
/*------ carow sel ----------*/
 .list_carousel {
	   max-width: 1186px;
		width: 100%;
	}
	.list_carousel ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
      
	}
	.list_carousel li {
    	float:left;
    	width:100%;
        max-width: 198px;
        margin-right: 8px !important;
       	text-align:center;
    	margin:0;
     
	}
	.list_carousel.responsive {
		width: auto;
		margin-left: 0;
	}
	.clearfix {
		float: none;
		clear: both;
	}
	.prev {
	    position: absolute;
	   top: 0px;
		right: 27px;
         background: url('../../../images/home/images/priv.png') no-repeat;
         width: 32px;
         height: 23px;
	}
	.next {
	   position: absolute;
	   top:0px;
		right: 0px;
        background: url('../../../images/home/images/next.png') no-repeat;
        width: 27px;
         height: 23px;
	}
	.pager {
		float: left;
		width: 300px;
		text-align: center;
	}
	.pager a {
		margin: 0 5px;
		text-decoration: none;
	}
	.pager a.selected {
		text-decoration: underline;
	}
	.timer {
		background-color: #999;
		height: 6px;
		width: 0px;
	}
/*----------------------------------*/
.product_slide_home_title {
    position: relative;
    border-bottom: solid 1px #0a78c7;
    height: 12px;
    margin-bottom: 15px;
}
.product_slide_home_title a.a1h{
font-size: 1.3em;
    line-height: 1.6em;
    color: #044a90;
    text-transform: uppercase;
    padding: 5px 20px 0px 25px;
    font-weight: bold;
    background: #fff url('../../../images/home/images/icon_home.png') left no-repeat;
    
}
a.pn01{
    background: #fff;
}
.row_1{
        height: 272px;
        border: 1px solid #ddd;
       
        margin-top: 8px;
        width:100%;
        max-width: 198px;
}
.row_1:hover{border: solid 1px #ff3f00;}
.row_2:hover{border: solid 1px #ff3f00;}
.row_2{
      height: 272px;
        border: 1px solid #ddd;
        
        margin-top: 8px;
        width:100%;
        max-width: 198px;
}
.colw{
    text-align: left;
    padding-left: 12px;
     padding-right: 4px;
}
.name_2row{
    padding-bottom: 4px;
   
}
.name_2row a{
    color: #202020;
}
.name_price_km a{
        color: #004b8f;
    font-size: 1.5em;
}
.name_price_km{
    padding-bottom: 1px;
}
.tietkiem{
       padding: 4px 12px 1px 12px;
     border-radius: 3px;
      background: #ee3f22;
    margin-right: 12px; 
    margin-bottom: 4px;
}
.tietkiem a{
   
    color: #fff;
 
}
.name_price{
    font-weight: normal !important;
    color: #050706;
   font-size: 1.1em !important;
}
.img_2ror{
    margin-bottom: 9px;
}
/* slide repon doi tac */
   .jssorb03 {
        position: absolute;
    }
    .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
        position: absolute;
        /* size of bullet elment */
        width: 21px;
        height: 21px;
        text-align: center;
        line-height: 21px;
        color: white;
        font-size: 12px;
        background: url('../../../images/home/img/b03.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
    }
    .jssorb03 div { background-position: -5px -4px; }
    .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
    .jssorb03 .av { background-position: -65px -4px; }
    .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
    
       .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('../../../images/home/img/a03.png') no-repeat;
            overflow: hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03l.jssora03ldn { background-position: -243px -33px; }
        .jssora03r.jssora03rdn { background-position: -303px -33px; }

 
    .slide_soitac_home div {
           transform: inherit !important;
              
    }
    #chk{
      border: solid 1px #c2c2c4;  
      margin-top: 18px;
    }
    #kttn img{
        max-width: 131px;
    }
 /* category */
.product-loc-title a{
    font-size: 20px;
    font-weight: bold;
    font-family: Tahoma;
    color: #0a78c7;
    text-transform: uppercase;
     position: relative;
     line-height: 48px;
}

.product-loc-title{
    background: #f5f5f5;
    text-align: center;
    min-height: 48px;
    margin-bottom: 12px;
}
.product-loc-title span{
      float: left;
}
.eventh1{
   margin: auto;
    padding-top: 55px;
    width: 1186px;
}
.title_homeeventee {
}
#event_hot a {
    color: #fff;
    font-size: 21px;
}
.eventh1_namew {
   background-image: url("/images/home/images/iconnews.png");
    background-repeat: no-repeat;
    margin-bottom: 27px;
    height: 54px;
    padding-left: 73px;
    width: 39%;
}
.eventnc0d1 > a {
    font-style: oblique;
}
img#llimg{
    width: 100%; 
}
img#smallbig{
    width: 100%; 
}
.eventh1_img{
    position: relative;
}
img#smallbig {
    position: absolute;
    top: 0px;
    left: 0px;
}
.eventh1_name{
    position: absolute;
    top: 14px;
    left: 16px;
    padding-right: 40px;
}
a.title_homeevent{
    color: #fff;
    font-size: 28px;
    font-family: tahomabd;text-transform: uppercase;
    line-height: 35px;
    padding-bottom: 10px;
}
ul.eventnc li a{
    color: #fff;font-family: tahomabd;line-height: 58px;
}
li.eventnc01 a{
    font-size: 28px;
   
}
li.eventnc02 a{
    font-size: 101px;
  
}
li.eventnc03 a{
    font-size: 45px;
  
}
ul.eventnc{
     border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    width: 245px;
    margin-top: 10px;
}
.eventh2{width: 45.2%;float: left;}
.hi_venthot2{
    width: 48.5%;
    float: left;
    margin-left: 1.5%;
    margin-bottom: 1.19%;
}
.hieventh2_img{
    width: 100%;
    position: relative;
}
.hieventh2_name{
    position: absolute;
    bottom: 3%;
    left: 10px;
    padding-right: 10px;
    
}
.hieventh2_name a{
    color: #fff;
    font-size: 18px;
    font-family: tahomabd; 
    text-transform: uppercase;
}
#passevent_title a{
    color: #fff;
    text-transform: uppercase;
    font-family: ROBOTO-BOLDCONDENSED;
    line-height: 20px;
    padding-left: 11px;
    font-size: 28px;
}
#passevent_title{
    margin-bottom: 20px;
    border-left: solid 5px #bf0000;
    height: 20px;
}
#row_passevent{
    min-height: 441px;
    padding-top: 35px;
    background: url('../../../images/home/images/bg_passevent.png')repeat-y; 
}
#hi_event {
    width: 23.5%;
    float: left;
    margin: 7px;
}
#hi_event img {
    border: 1px solid #fff;
    max-width: 100%;
     height: 188px;
    width: 100%;
}
#logo_foot{
    margin-top: 30px;
    width: 30%;float: left;
}
#logo_foot img{
    max-width: 100%;
}
.row_catf{
    width: 23%;
    float: left;
    margin-right: 2%;
}
.right_catf{
    width: 63%;
    float: right;
    margin-top: 19px;
}
.right_catf_title{
    background: url('../../../images/home/images/bg_foot.png')no-repeat;
    height: 26px; 
    margin-bottom: 15px;
}
.right_catf_title a{
    color: #606161; 
    font-size: 21px;
    text-transform: uppercase;
    font-family: ROBOTO-BOLDCONDENSED;
    padding-left: 19px;
    line-height: 26px;
}
.new_bd_fot_title{
    margin-bottom: 5px;
}
.row_catf02{
    width: 23%;
    float: left;
}
#catnews_title{
    margin-top: 24px;
    margin-bottom: 28px;
    border-left: solid 5px #bf0000;
    height: 20px;
    
}
.tnel{
   border-bottom: solid 1px #ebebeb; 
}
#catnews_title a{
    color: #333333;
    text-transform: uppercase;
    font-family: ROBOTO-BOLDCONDENSED;
    line-height: 20px;
    padding-left: 11px;
    font-size: 28px;
}
.slogan_cat a{
    color: #333333;
    font-size: 13px;
}
.slogan_cat{
    border-bottom: 1px solid #ebebeb;
    display: none;
    padding-bottom: 14px;
    padding-top: 14px;
}
.register_new{
    width:16%;
    float: right;
}
li.dlbr {
    background: url('../../../images/home/images/img_dow.png')no-repeat;
    height: 39px;
    margin-bottom: 2px;
}
li.dlbr a{
    color: #fff;
    font-size: 13px;
}
li.crgtr {
    background: url('../../../images/home/images/img_dk.png')no-repeat;
    height: 30px;
    text-align: center;
}
li.crgtr a{
    color: #fff;
    font-size: 16px;
    line-height: 29px;
}
.tnl{
    margin-left: 37%;
    padding-top: 6px;
    line-height: 14px;
}
.comment_right_title a{
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    font-family: "ROBOTO-BOLDCONDENSED";
    background: url('../../../images/home/images/icon_comment.png') left no-repeat;
    padding-left: 27px;
    line-height: 33px;
}
.comment_right_title{
  background: #bf0000;
  height: 33px;
  border-bottom: solid 1px #763b3b;
  padding-left: 6px;
  box-shadow: 0px 6px 14px #d3d3d3;
  margin-bottom: 15px;
}
.comment_right {
    display: block;
    overflow: hidden;
    margin: 36px auto 0px;
    width: 1200px;
}
.comment_right .content{
    height: 200px;
}
.comment_bg{
    background: #efefef;
    margin-bottom: 20px;
}
.hi_comment{
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: dashed 1px #fff;
    padding-top: 12px;
    padding-bottom: 14px;
}
.hi_comment:last-child{
  
    border-bottom: none;
}
.nd_comment a{
    color: #696969;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}
.nd_comment{
    padding-bottom: 18px;
}
.td_comment a{
     color: #696969;
    font-size: 13px;
    
}
.clickmore a{
    color: #fff;
    font-size: 13px;
    background: url('../../../images/home/images/seemore.png') left no-repeat;
    line-height: 21px;
    padding-right: 6px;
    padding-left: 12px;
}
.clickmore{
    text-align: right;
    background: #d46767;
    height: 21px;
}
/* detail new */
.headertitles {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #bf0000;
    display: inline;
    font-family: Arial;
    font-size: 22px;
    line-height: 22px;
    padding-right: 10px;
}
.iirheading {
	display:block;
	background:url(http://inc.iirme.com/Sites/iirme/v2-2013/images/dddot.jpg) center center repeat-x;
	margin-bottom:20px;
}
#crumbsContainer {
 
 
   width:100%;
}
img.a {
	position:absolute;
	bottom: 5px;
	left:0;
	z-index:100;
	cursor: pointer;
	border:0
}
.clicker {
	position:relative;
	float:left;
	background:#ffffff;
	width: 24px;
	height: 24px;
}

img.b {
	position:absolute;
	bottom: 5px;
	left:0;
	cursor: pointer;
   border:0;
}


#trainingCrumbs ul li {
    float: left;
    list-style-type: none;
    margin: 0 !important;
    background: url('../../../images/home/images/icon_lidt.png') right repeat-y;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#trainingCrumbs ul li:last-child {
  
    background: none;
  
}
#trainingCrumbs ul li a{
    font-size: 13px;
    color: #7d7d7d;
}
a.closenav{
    cursor: pointer;
}
#trainingCrumbs {
    background: #d7d7d7;
    border: #c2c2c2 1px solid;
    display: inline-block;
    border-radius: 3px;
}
/*-----------------------------*/
.new_detailel_dc a{
    color: #bf0000;
    font-size: 11px;
    font-weight: bold;
}
.new_detailel_dc{
    padding-top: 12px;  padding-bottom: 13px;
}
.new_detailel_title02 a{
    color: #262626;
    font-size: 30px;
    border-bottom: solid 1px #f6ecec;
    padding-right: 16%;
    padding-bottom: 8px;
    line-height: 51px;
}
.new_detailel_title02{
  padding-top: 19px;
}

.new_detailel{
    margin-top: 19px;
}

.dkvll{
    padding-top: 15px;
    padding-bottom: 120px;
}
li.cljt{
    background: #535353 !important;
}
li.cljt a{
    color: #aeaeae;
}
.siga{
    width: 45.45%;
    float: left;
    margin-right: 9.1%;
    border-bottom: solid 1px #dedede;
    padding-bottom: 15px;
}
.vnga{
    width: 45.45%;
    float: left;
    border-bottom: solid 1px #dedede;
    padding-bottom: 15px;
}
.bd_contac{
    margin-bottom: 16px;
}
.content_lienhe{
    padding-top: 26px;
}
.form_contaceg{
    width: 62.35%;
    float: left;
  
}
.imgright_contac{
    width: 36.2%;
    float: right;
    padding-top: 2.2%;
}
.imgright_contac img{
    width: 100%;
    
}
.nnvcl{
      margin-top: 30px;
    padding-bottom: 35px;
}
.lienhe_input{
    background: #ebebeb;
    border: 1px solid #ebebeb !important;
    box-shadow: none !important;
}
.chanl input{
    background: #327FFC;
    color: #fff;font-size: 13px;
    width: 100%;
    border: none;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 4px;
}
.lienhes{
    color: #9a9a9a;
    font-size: 13px;
    font-weight: normal;
}
.row1{
    padding-bottom: 10px;
}
.camon a {
    color: #000000;
    font-size: 30px;
}
.camon1 a{
    color: #000000;
    font-size: 25px;
}
.tieptucmuahang a {
       background: #c42626;
    padding-right: 68px;
    padding-left: 68px;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 23px;
    margin-right: 9px;
}
#newss > div#summa {
    margin-top: 18px;
}
.notify_n{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tieptucmuahang{
        margin-top: 45px;
       margin-bottom: 50px;
}
.errorMessage{
    color: red;
}
#breadCrumb{
    color: #333333;
    text-transform: uppercase;
    font-family: ROBOTO-BOLDCONDENSED;
    line-height: 20px;
    padding-left: 11px;
    font-size: 28px;
    margin-bottom: 28px;
    border-left: solid 5px #bf0000;
    height: 20px;
}

#catnews_title1{
        margin-top: 24px;
    margin-bottom: 28px;
}
.list_passevent{
    padding-top: 3%;
}
/* download */
.iirForm select {
    text-transform: none !important;
    background: #f3f3f3;
    padding: 8px 12px 7px !important;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    color: #222 !important;
    font-size: 1.1em !important;
    width:90% !important;
    line-height: 1.2;
    font-family: 'Open Sans', Arial !important;
}
#ctl00_Content_ctl00_data_Title {
    width: 100% ;
}
#prefix {
    display: inline-block;
    margin-right: 10px;
    width: 25%;
}
.iirForm input {
    width: 90%;
    padding: 10px 12px 9px !important;
    line-height: 1.2;
    background: #f3f3f3;
    border: 1px solid #eee;
    font-family: 'Open Sans', Arial;
    font-size: 1.1em !important;
    color: #333 !important;
}
#formFirstName, #formLastName, #formJobTitle, #formCompany, #formEmail, #formCountry {
    display: inline-block;
    width: 48%;
    margin-bottom: 16px;
}
#formPhone input {
    display: inline-block;
    width: 17% !important;
    margin-bottom: 16px;
}
#formPrefix{
    margin-bottom: 16px;
}
input.cpbt{
    width: 17% !important;
    margin-bottom: 16px;
}
img#captchaimgdl{
    border: solid 1px #f3f3f3;
    margin-top: 16px;
    margin-bottom: 16px;
}
#ledie input{
    padding: 7px 15px;
    background: #327FFC;
    width: auto !important;
    border: none;
    color: #fff !important;
    font-size: 13px;
    font-weight: bold;
}
#maikhongra{
    TEXT-ALIGN: center; PADDING-BOTTOM: 13px; PADDING-LEFT: 0px; WIDTH: 48%;
     PADDING-RIGHT: 0px; BACKGROUND: #24a8e0; FLOAT: left; COLOR: #ffffff; FONT-SIZE: 13px; PADDING-TOP: 16px;
    border-bottom: solid 1px #1C6179;border-right: solid 1px #1C6179;
}

#maikhongra a{
    color: #fff;font-size: 16px;
}
#telngay{
     TEXT-ALIGN: center; PADDING-BOTTOM: 13px; PADDING-LEFT: 0px; WIDTH: 48%;
     PADDING-RIGHT: 0px; BACKGROUND: #327B95; FLOAT: right; COLOR: #ffffff; FONT-SIZE: 13px; PADDING-TOP: 16px;
    border-bottom: solid 1px #1C6179;border-right: solid 1px #1C6179;
}
#telngay a{
     color: #fff;font-size: 16px;
}

#updateCheckbox{
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 10%;
   
}
#updateCheckbox input{
   
    margin: 0px !important;
}
#companyAdd1, #city, #zipcode, #vipcode, #formVIP, #whereHear {
    width: 100%;
    margin-bottom: 16px;
}
#whereHear {
    width: 94%;
}
#httt input{
    width: 5%;
}
#httt label{
   font-size: 12px ;
    color: #333;
    font-weight: normal;
    cursor: pointer;
}

a.btn-booknow01{
    background: #c42626;
    padding-right: 6.8%;
    padding-left: 6.8%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 22px;
    margin-right: 9px;
}
a.btn-moreinfo02{
    background: #9e1515;
    padding-right: 4.7%;
    padding-left: 4.7%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 20px;
    margin-right: 9px;
}
a.btn-mail03{
    background: #a86666;
    padding-right: 6.8%;
    padding-left: 6.8%;
    border-right: solid 1px #9f9f9f;
    border-bottom: solid 1px #9f9f9f;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #fff;
    font-size: 20px;
}
#captchaimgdl_button{
    display: none;
}


ul#nk_x li ul{
    display: none;
}
ul#nk_x li:hover ul{
    display: block;
}
ul.chichi{
    padding-left: 10px;
    padding-right: 10px;
   background: rgba(0, 0, 0, 0.6);
   min-width: 200px;
}
ul#nk_x li{
   position: relative;
}
ul.chichi li{
    text-align: left;
    padding-left: 24px;
}
ul.chichi li a{
    font-size: 14px !important;
}
ul#nk_x li ul{
    position: absolute;
    top:36px;text-align: center;
    z-index: 99999999;
}

a.cthi{
    color: #9a9a9a;
    font-size: 13px;
}
a#captchaimg_button{
    display: none;
}
img#captchaimg{
    border: solid 1px #f3f3f3;
    margin-bottom: 6px;
}
#magindetaild{
    margin-top: 5%;
}
.lk_all{
    position: relative;
}
.pager li>a:focus, .pager li>a:hover{
        background-color: #BF0000 !important;
        color: #fff;
}
.page.selected a {
    background-color: #BF0000 !important;
    color: #fff;
}
.viewimg{
}

#ViewMore {
    clear: both;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    padding-right: 24px;
      cursor: pointer;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    height: 437px;
    max-width: 100%;
}
.carousel-caption {
   background-image: url("/images/home/bg5.png");
    left: 7%;
    padding-bottom: 30px;
    padding-left: 11px;
    padding-right: 11px;
    right: 61%;
}
@media(min-width:767px){
	.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    margin-top: -48px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    font-size: 73px;
    margin-left: -85px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    font-size: 73px;
    margin-right: -43px;
}
}