/*** THEME CUSTOMIZABLE SECTIONS ********************************************************/



.CallforPapers, .BrochureDL, .RegNow, .SpecialOffers, .SponsorOppo
{
	background:url(http://inc.iirme.com/images/IconSets/images/button_set_4.gif) no-repeat scroll 0 0;
}

#HmenuContainer {
    float: right;
    margin: 0;
    position: relative;
    z-index: 100000;
}

#ctl00_BreadCrumb_breadCrumbsContainer {
	margin-top:20px;
}



#mainContents h5 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 4px;
}

#aspnetForm {
    background: url("http://assets.iirme.com/Sites/iirme.com/images/backgrounds/business-training-BG.jpg") no-repeat scroll center 0 transparent;
    margin: 0;
    width: 100%;
}

#breadCrumbs {

}

.clearfloat {
	clear:both;
}

img {
	border:0;
}




/*---------Customizable Sections Ends---------*/




#globalHeader
{
	display:none;
	margin-bottom: 0 !important;
}


#mainContents h1 {
    background: url("http://inc.iirme.com/Sites/iirme/v2-2013/images/dddot.jpg") repeat-x scroll center center transparent;
    color: #1E9CD1;
    font-family: "Segoe","Myriad Pro",Myriad,Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 5px;
}

#mainContents h1 span {
   background: #ffffff;
	padding-right:7px;
}


#mainContents ul {
	margin-left: 15px;
	margin-top: 15px;
}

#mainContents li {
	margin-left:10px;
	list-style-type:square;
}

.iirheading {
	display:block;
	background:url(http://inc.iirme.com/Sites/iirme/v2-2013/images/dddot.jpg) center center repeat-x;
	margin-bottom:20px;
}

.upcoming {
	float:left;
	width:230px;
}

.upcoming-logo {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	height:70px;
	width:230px;
}

.upcoming-details {
   text-align:center;	
	margin-top:10px;
	color:#888888;
}

ul.topics {
	margin-left:10px;
}

ul.topics li {
    background: url("http://inc.iirme.com/Sites/iirme/v2-2013/images/topic-bullet.png") no-repeat scroll left 4px transparent;
    list-style: none outside none;
    margin-bottom: 13px;
    padding-left: 15px;
}



/**************hyperlink CSS ******************/




#mainContents a, #mainContents a:visited, #mainContents a:link
{
    color: #db1515;
    text-decoration:none;
}


#mainContents a:hover
{
text-decoration:underline;
    color: #db1515;
}



/*** MAIN DIVISIONS ********************************************************/
#leftSideBar /*Main Left Column -  - holds left skyscrapers*/
{
	display:none;
}
#rightSideBar /*Main Right Column - holds right skyscrapers*/
{
	display:none;
}

#mainContainer
{
	width:1003px;
	margin:0 auto 25px !important;
	display:block;
}

#container {
    background: none repeat scroll 0 0 transparent;
	 margin: 0;
}

/*** #CONTAINER (middle Column) SUB SECTIONS *********************************/


#headerVector {
    height: 130px;
    position: relative;
}

#EventLogo {
    left: 0;
    position: absolute;
    top: 70px;
}

#EventHeader {
	position:relative;
	width:1003px;
	height:auto;
}

#EventHeader .certPartner {
	top:-10px;
	width:998px;
	text-align:right;
	padding-right:5px;
}

#EventHeader .EventName {
    color: #006AB0;
    font-family: "Segoe","Myriad Pro",Myriad,Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 36px;
	line-height: 36px;
    letter-spacing: -0.5px;
    text-align: left;
	margin-bottom:10px;
	width: 860px;
	font-weight:bold;
}

#EventHeader .EventTagline {
    border-bottom: 3px solid #006AAF;
    color: #006AAF;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px !important;
    margin-top: -8px;
    padding-bottom: 6px;
    text-align: left;
    width: 860px;
}

#EventDetails
{
   margin-top: 5px;
}

#EventDate {
    border-right: 1px solid #666666;
    float: left;
    padding: 1px 5px 1px 0;
    text-align: left;
	line-height:15px;
}

#EventVenue {
    float: left;
    padding: 1px 0 1px 5px;
	line-height:15px;
}

#HeaderLinks {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 46px;
}

#HeaderLinks #About-Informa-Middle-East, #HeaderLinks #Home, #HeaderLinks #LatestNews, #HeaderLinks #News, #HeaderLinks #Careers, #HeaderLinks #Testimonials, #HeaderLinks #Partnerships, #HeaderLinks #FAQs {
	float: left;
}

#HeaderLinks a {
	border-right: 1px dotted #69c4f0;
    color: #888888;
    font-size: 12px;
    padding: 0 10px;
    text-decoration: none;
}

#HeaderLinks a:hover{
	border-right: 1px solid #69c4f0;
    color: #333333;
    font-size: 12px;
    padding: 0 10px;
	text-decoration:underline;
}

#leftPanel /*Left callout Bin*/
{
	display:none;
}

#rightPanel {
    background: none repeat scroll 0 0 transparent;
    display: inline;
    float: right;
    margin: 55px 0 10px !important;
    padding: 0;
    width: 250px;
}

#contentPanel h4
{
margin-bottom:10px;
font-size:13px;
}

#rightPanel h4 {
    background: none repeat scroll 0 0 #0976BB;
    border: medium none;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    margin: -2px 0 20px -2px;
    padding: 5px 8px;
    text-align: center;
    text-transform: uppercase;
    width: 218px;
}

#rightPanel .callOut {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    height: auto !important;
    margin-bottom: 30px;
    padding: 0;
    width: 250px;
}

.headerAndContents{
	height:auto;
}


#rightPanel h3, #FeaturedContentCallout h3, #featuredContent h3
{
	font-size: 14px;
	color: #000;
	background: transparent url(http://inc.iirme.com/Images/References/HeadingIcons/heading_icon_1.gif) no-repeat;
	border-bottom: 1px solid #454545;
	padding:0 0 7px 24px;
	margin:0 0 10px 0;
}



.headerAndContents .callOutIcon
{
/*display:none;*/ /*DEV TEAM*/
}

#RightCalloutBins p
{
margin:0;
padding:0;
}


.speaker_Name
{
font-size:14px;
font-weight:bold;
width:148px;
}

.speaker_Position, .speaker_Company
{
font-size:14px;
width:148px;
}

.headerAndContents .callOutText
{
}

.center .callOutText
{
float:none!important;
}

.headerAndContents .readmore
{
background:url(http://inc.iirme.com/Images/References/CalloutButton/readmore_bg_1.gif);
display:block;
color:#fff!important;
width:78px;
height:20px;
padding:7px 0 0 13px;
text-decoration:none!important;
font-size:11px;
float:right;
}

.headerAndContents .readmore:hover
{
text-decoration:underline!important;
}

.iconAndText
{
}

#rightPanel ul
{

}

#rightPanel ul li
{
	padding-bottom: 10px;
	list-style-type: square;
}

.footerAndContents
{
display:none;
}


.banner .callOutHead, .banner .callOutIcon, .banner .callOutText, .banner .callOutFooter /*DEV TEAM*/
{
display:none;
}

.banner
{
background:#fff;
/*DEV TEAM*/
} 

.CallforPapers, .BrochureDL, .RegNow, .SpecialOffers, .SponsorOppo /*DEV TEAM - Change these IDs to Classes*/{
cursor:pointer;
display:block;
height:67px;
margin-top:2px;
text-indent:-1999px;
width:230px;
}




.btn-moreinfo {
	 cursor: pointer;
    display: block;
    height: 50px;
    width: 235px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/Libraries/CustomButtons/blue/btn-blue-moreinfo.jpg) no-repeat;
}
.btn-inhouse {
	 cursor: pointer;
    display: block;
    height: 50px;
    width: 236px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/Libraries/CustomButtons/blue/btn-blue-TellAFriend.jpg) no-repeat;
}

.btn-tellafriend {
	 cursor: pointer;
    display: block;
    height: 49px;
    width: 235px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/Libraries/CustomButtons/blue/btn-blue-TellAFriend.jpg) no-repeat;
}


/* .btn-tellafriend {
	 cursor: pointer;
    display: block;
    height: 49px;
    width: 241px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/Libraries/CustomButtons/blue/btn-blue-TellAFriend.jpg) no-repeat;
}
*/

.btn-brochuredownload {
	 cursor: pointer;
    display: block;
    height: 49px;
    width: 241px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/Libraries/CustomButtons/blue/btn-blue-DownloadBrochure.jpg) no-repeat;
}



.btn-venue {
	 cursor: pointer;
    display: block;
    height: 60px;
    width: 250px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/images/buttons/blue/btn-blue-venue.jpg) no-repeat;
}

.btn-coursefee {
	 cursor: pointer;
    display: block;
    height: 60px;
    width: 250px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/images/buttons/blue/btn-blue-coursefee.jpg) no-repeat;
}

.btn-callMe {
	 cursor: pointer;
    display: block;
    height: 60px;
    width: 250px;
	 text-indent: -9999px;
	 background: url(http://assets.iirme.com/Sites/iirme.com/Libraries/CustomButtons/blue/btn-blue-callme.jpg) no-repeat;
}

.brochure-register {
	float:left; 
	width:254px; 
	padding:15px 0; 
	text-align:center; 
	background:#286882; 
	font-size:18px; 
	color:#ffffff;
	text-decoration:none;
}

.CallforPapers /*DEV TEAM - Change these IDs to Classes*/{
background-position:0 0;
}
.BrochureDL /*DEV TEAM - Change these IDs to Classes*/{
background-position:0 -67px;
}
.RegNow /*DEV TEAM - Change these IDs to Classes*/{
background-position:0 -134px;
}
.SpecialOffers /*DEV TEAM - Change these IDs to Classes*/{
background-position:0 -201px;
}
.SponsorOppo /*DEV TEAM - Change these IDs to Classes*/{
background-position:0 -268px;
}

#contentPanel {
    border: medium none;
    display: inline;
    float: left;
    margin: 0;
    width: 710px;
}

.trainingpageContent {
	margin: 0 0 30px 10px;
}

.trainingpageContent2 {
	margin: 0 0 30px 10px;
	width:700px;
}

/****** Global Footer ******/
#globalFooter {
    background: url("http://inc.iirme.com/Sites/iirme/v2-2013/images/footer-BG.jpg") repeat-x scroll 0 0 #13327D;
    display: block;
    font-size: 11px;
    margin: 0;
    padding: 15px 0;
}


#globalFooter a
{ 
	font-size:11px!important;
}

#footerContents {
    font-family: Arimo,Arial;
    line-height: 14px;
    margin: 0 auto 10px;
    width: 1003px;
}

.informaLogo
{
float:left;
margin-top:23px;
}

.logoNqlink
{
	margin-bottom:20px;
}

.footerQuicklinks {
    float: right;
    margin-top: 13px;
    width: 681px;
}

.footerColumn
{
float:left;
margin:0 0 0 25px;
}

.footerColumn li
{
margin:0;
padding:0;
list-style:none;
}

.footerColumn a, .footerColumn a:visited {
    color: #7A94D4;
    font-family: Arimo,Arial;
    text-decoration: none;
}

.footerColumn a:hover
{
color:#fff;
}

.logoContainer
{
float:left;
width:285px;
}

.iirLogo {
    background: url("http://inc.iirme.com/Sites/iirme/v2-2013/images/footer-logo.png") no-repeat scroll 0 0 transparent;
    height: 80px;
    margin: 24px 0 7px 25px;
    width: 286px;
}

.iirLogo a
{
display:block;
float:left;
text-indent:-2000px;
}

.iirLogo a.conferences
{
width:85px;
}

.iirLogo a.exhibitions
{
width:78px;
}

.iirLogo a.training
{
width:61px;
}

ul.footerlinks {
    float: right;
    list-style: none outside none;
    padding: 0;
    width: 465px;
}

ul.footerlinks li
{
float:left;
margin:0;
padding:0;
}

ul.footerlinks a.last {
    background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0 3px;
}

ul.footerlinks a, ul.footerlinks a:visited
{
color:#bc7e31;
float:left;
padding-bottom:3px;
text-decoration:none;
display:inline;
background:url(http://inc.iirme.com/Images/Global/IIR/footer-div.gif) center right no-repeat;
padding:0 5px 0 0;
margin:0 5px 0 0;
}

ul.footerlinks a:hover
{
color:#e0dddd;
}

ul.footerlinks a.last
{
background:none;
    margin: 0;
    padding: 0 3px 0 0;
}

.copyright {
    color: #AAAAAA;
    float: left;
    font-family: Arimo,Arial;
}

/****** Global Footer Ends ******/



/****** Local Footer CSS *******/

#footer
{
background:#373737;
padding:10px;
color:#fff;
}

.footerCopyrightNotice
{
width:650px;
float:left;
margin-bottom:15px;
}

.footerStandardLinks
{
float:right;
width:330px;
margin-top:30px;
}

.footerStandardLinks a
{
color:#fff;
text-decoration:none;
}

.footerAllLinks
{
border-top:1px solid #5c5b5b;
clear:both;
text-align:center;
padding-top:10px;
}

.footerAllLinks a
{
color:#fff;
text-decoration:none;
}

/******** Local Footer End *********/
/*** #CONTENTPANEL SUB SECTIONS ***********************************************/
#breadCrumbs {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    color: #999999;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 20px;
    padding: 7px 10px;
	border-left:1px solid #dddddd;
	border-top:1px solid #dddddd;
}

#breadCrumbs a /*Crumb Trail Navigation*/
{
                color:#000000;
                text-decoration:none;
}

#breadCrumbs a:hover /*Crumb Trail Navigation*/
{
                color:#0097E0;
                text-decoration:none;
}

#FeaturedContentCallout, #featuredContent {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 0;
    position: relative;
    width: 1003px;
}

#FeaturedContentCallout .callOut .callOutIcon, #featuredContent .callOut .callOutIcon /*Use #featuredContent */
{
float:left;
margin-right:9px;
}

#FeaturedContentCallout .callOut .callOutText, #featuredContent .callOut .callOutText /*Use #featuredContent */
{
float:left;
width:235px;
}

#FeaturedContentCallout h3, #featuredContent h3 /*Use #featuredContent */
{
margin-top:5px;
}

#mainContents {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    line-height: 16px;
    padding: 0;
}

#extendedContents /*Optional Content panel usually used as container for sponsor logos*/
{
background:#fff; /*DEV TEAM*/
border:1px solid #000;/*DEV TEAM*/
width:688px;
margin-bottom:10px;
}

#sponsorsPanel {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: none;
    margin: 0 0 20px 12px;
    padding: 0;
    text-align: left;
    width: 979px;
}

/* Styles for the navigation container only. Stylesheets 
for the actual Menu Component will be 
under Named Components Section*/ 

#horizontalNavigation {
    border-bottom: 1px solid #00adee;
    height: 33px;
    padding: 0;
    position: relative;
    z-index: 1000;
}

#verticalNavigation
{
	
}

/*** CALLOUT ********************************************************/


#extendedContents .callOut, #sponsorsPanel .callOut
{
	width: 160px;
	height:120px;
	margin-right:20px;
	float:left;
}


/*** LISTS ***********************************************************/

/*Normal Listing Pages (i.e. news, search results etc)*/
.listingPage
{
	width:100%;
	list-style:none;
}
.listItemTitle
{
	padding:5px;
	font-weight:bold;
}
.listItemContent
{
	padding:5px;	
	border-bottom:#CCCCCC solid 1px;
}
/*Exhibitor List Listing Pages*/
.exListTitle
{
	border:#CCCCCC solid 1px;
}
.exListColumn1
{
	padding:5px;
	float:left;
	width:25%;
}
.exListColumn2
{
	padding:5px;
	float:left;
	width:60%;
}
.exListColumn3
{
	padding:5px;
	float:left;
	width:10%;
}

/*** NAMED COMPONENTS ************************************************/

/* Horizontal Menu */

.hMenu 
{
margin-bottom:0;             
}

ul.hMenu li {
    float: left;
    list-style: none outside none;
}

.hMenu a, .hMenu a:visited {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}

ul.hMenu li a {
    background: none repeat scroll 0 0 #00ADEE;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 12px;
    margin-left: 1px;
    margin-top: 0;
    padding: 11px 25px;
    text-decoration: none;
}


ul.hMenu li a:hover
{
   background: #174195;
	color: #ffffff;
}


/* Second Level Links */
ul.hMenu ul {
    top: 28px !important;
}
ul.hMenu ul ul {
    top: 0 !important;
}
ul.hMenu li li {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #FFFFFF;
    left: -1px;
    margin-bottom: 0;
    top: 6px;
    width: auto;
    margin-top: -1px;
}
ul.hMenu li li a {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF !important;
    padding: 10px;
    text-transform: capitalize;
}
ul.hMenu li li a:hover {
    background: none repeat scroll 0 0 #4b66ae;
    color: #FFFFFF;
}

ul.hMenu li li li
{
	top:0px;
}

.hMenu li:hover, .hMenu li.sfHover,
.hMenu a:focus, .hMenu a:hover, .hMenu a:active {
color: #000000;
}

.hMenu li li:hover, .hMenu li li.sfHover,
 {
color: #000000;
}



/*Vertical Menu Default */
/* Vertical Menu */
.vMenuDefault
{
	margin: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	list-style: none;	
}

.vMenuDefault ul, ul ul, ul ul ul
{
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
}

/*************************************Style for level1 ends here************************************/

.vMenuDefault li, .vMenuDefault li a
{
	color: #000000;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-decoration: none;
	height: auto;
}

.vMenuDefault li a:link, .vMenuDefault li a:visited, .vMenuDefault li a:active, .vMenuDefault li a:hover, .vMenuDefault li a.Selected
{
	color: #000000;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 9px 0;
	border-bottom: 1px solid #d6eaf5;
	text-decoration: none;
}

/*************************style for level 2**************************************/
.vMenuDefault ul, .vMenuDefault ul.Selected
{
	color: #024d7f;
	display: block;
	padding-left:5px;
	margin: 0;
	border: 0;
}
.vMenuDefault li li a, .vMenuDefault li li a:link, .vMenuDefault li li a:visited, .vMenuDefault li li a:active
{
	color: #333333;	
	border-bottom: 1px solid #d6eaf5;
	font-weight: normal;
	font-size: 11px;
}
.vMenuDefault li li a:hover, .vMenuDefault li li a.Selected
{
	color: #000000;
	font-weight: normal;
	font-size: 11px;
	border-bottom: 1px solid #d6eaf5;
}



/*** FORM ELEMENTS ***********************************************************/

.iirForm /* Form Container */
{
    /*background-color:Silver;   */
}

.iirForm_Title {
    border-bottom: 1px solid #333333;
    font-size: 14px;
    margin-bottom: 15px;
}

.iirForm_text label
{
}

.iirForm_options
{
}

.iirForm_req {
    color: #FF0000;
}

.iirForm_Note
{
}

#divBookingDetails
{
}

.iirForm_Spacer
{
}

.iirForm_LoginBox
{
}

.user_loggedin
{
}

#PageNavigation /*DEV TEAM*/
{
	display:none;
}

#ListContainer
{
margin:0!important;
}


/*SPEAKER PAGE*/

.section
{
border-bottom:1px solid #ccc;
margin-bottom:15px;
}

.section img
{
margin-bottom:7px;
}

.speaker_details
{
float:left;
height:98px;
display:table-cell;
vertical-align:middle;
overflow:hidden;
position:static;
margin-top:5px;
}

.speaker_details span
{
display:block;
margin-bottom:5px;
}

.speaker_details a
{
color:#000;
font-size:14px;
color:#005596;
}

.speaker_desc
{
clear:both;
overflow:hidden;
}

/*PRESS RELEASE PAGE*/

ul.pressRelease
{
margin:0 0 10px 0;
border-bottom:1px solid #ccc;
padding:0 0 10px 0;
list-style:none;
line-height:20px;
}

ul.lastlist
{
border:0!important;
}

/****   FORMS ****/

.iirForm_text label {
	min-width: 105px;
	/*max-width: inherit;*/
	width: auto;
}

.iirForm_text table,  .iirForm_text Table {
	width: 100%;
}

select, textarea {
	display: inline;
}

label {
	min-width: 140px;
	/*max-width: inherit;*/
	width: auto;
	display:inline-block;
}

#mainContents table, #mainContents Table
{
	width: 100%;
}
/********************Image Gallery starts here**********************/

#mainContents div.imageGalleryContainer {
background:url("http://inc.iirme.com/Images/Vectors/style16/gallery-bg.png") repeat-y scroll center center #FFFFFF;
margin:10px 0 0 10px;
padding:0;
}
#mainContents .imageGalleryRow {
margin:0;
padding:0;
}
a.imageGalleryPic {
border:1px solid #999;
float:left;
margin-right:5px;
padding: 1px
}
#mainContents .imageGalleryRowSeparator {
clear:both;
height:1px;
margin:2px;
}
/********************Image Gallery ends here**********************/


/****** Training Links ******/

#trainingCrumbs {
	background:#d8e8f2;
	border:#c0d5e2 1px solid;
	display:inline-block;
	border-radius:3px;
}

#trainingCrumbs ul {
	margin:0 !important;
}

#trainingCrumbs ul li {
	float:left;
	list-style-type:none;
	margin:0 !important;
}

#mainContents a.crumblinks {
	padding:0 13px;
	border-right:1px solid #c3d6e2;
	border-left:1px solid #E9F1F6;
	color:#7ea7c2;
	text-decoration:none;
	font-size:12px;
	display:table-cell;
	height:24px;
	vertical-align:middle;
}

#mainContents a.crumblinks:hover {
	text-decoration:underline;
}
#mainContents a.closenav {
    background: none repeat scroll 0 0 #ABC4D4;
    color: #FFFFFF;
    cursor: pointer;
    display: table-cell;
    font-size: 12px;
    height: 24px;
    padding: 0 13px;
    text-decoration: none;
    vertical-align: middle;
}

#mainContents a.closenav:hover {
	text-decoration:underline;
}

/***** End Training Links *****/





/********************Related Events mainContent Page**********************/
#mainContents DIV.AvailableCoursesCSSClass DIV {
	TEXT-ALIGN: left
}
#mainContents DIV.AvailableCoursesCSSClass DIV P {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; BACKGROUND: none; PADDING-TOP: 5px
}
#mainContents DIV.AvailableCoursesCSSClass DIV A {
	COLOR: #1E9CD1; TEXT-DECORATION: none; font-weight:bold;
}
#mainContents DIV.AvailableCoursesCSSClass DIV A:visited {
	COLOR: #1E9CD1; TEXT-DECORATION: none; font-weight:bold;
}
#mainContents DIV.AvailableCoursesCSSClass DIV A:link {
	COLOR: #1E9CD1; TEXT-DECORATION: none; font-weight:bold;
}
#mainContents DIV.AvailableCoursesCSSClass DIV A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline; font-weight:bold;
}
/********************Related Events  mainContent ends here**********************/


/********************Related Events Callout**********************/
DIV.AvailableCoursesCSSClass DIV {
	TEXT-ALIGN: left
}
DIV.AvailableCoursesCSSClass DIV P {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: left; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 5px; BACKGROUND: #d6e2e8; PADDING-TOP: 5px
}
DIV.AvailableCoursesCSSClass DIV A {
	COLOR: #333333; TEXT-DECORATION: none; 
}
DIV.AvailableCoursesCSSClass DIV A:visited {
	COLOR: #333333; TEXT-DECORATION: none; 
}
DIV.AvailableCoursesCSSClass DIV A:link {
	COLOR: #333333; TEXT-DECORATION: none; 
}
DIV.AvailableCoursesCSSClass DIV A:hover {
	COLOR: #cc0000; TEXT-DECORATION: underline; 
}
/********************Related Events Callout ends here**********************/




/**************speakerItemTemplate CSS ******************/



#mainContents ul.listingPage table img {
border: 5px solid #DDDDDD;
}


#mainContents ul.listingPage hr {
background-color: #FFFFFF;
    border-top: 1px dashed #666666;
    border-width: 1px 0 0;
    text-align: left;
    width: auto;
margin: 10px 0 15px;
}

#mainContents ul.listingPage table ul, #mainContents ul.listingPage table ol {

    margin: 0 0 15px 20px;
  
}


#mainContents ul.listingPage table ul li {

    list-style: disc outside none;

}




#ctl00_Content_divSearchControl {
    float: left;
    width: 50%;
    text-align: left;
}
#ctl00_Content_divAlpha {
    float: left;
    width: 50%;
    vertical-align: top;
    margin-top: -10px;
}
#ctl00_Content_divFilterPanel {
    height: 50px;
}


/**** Related Events Split ****/
.RelatedEventsCSSClass {
	margin:0;
}

.RelatedEventsCSSClass ul {
	float:left;
	width:340px;
	margin-left:0 !important;
	padding-right:5px !important;
}

.RelatedEventsCSSClass ul li {
	list-style-type:none !important;
	margin-bottom:10px;
	margin-left:0 !important;
	line-height:15px;
}

#divRelatedEvents a {
	font-weight:bold;
	color:#25AAE3 !important;
}

#divRelatedEvents a:hover {
	font-weight:bold;
	color:#286883 !important;
	text-decoration:none !important;
}
/**** End Split ****/

/**************.callmebackbg-outer ******************/

.callmebackbg-outer {	   border-radius:5px;
	
    background: none repeat scroll 0 0 #D9E8EE;
    border: 1px solid #C0D7E1;
    border-radius:5px;
    height: 337px;
    padding: 5px;
}

.callmebackbg-inner {
background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #cccccc;
    height: 292px;
    border-radius:3px;
    line-height: 15px;
    padding: 5px;"
}
/**** End Split ****/

.ThumbnailCSSClass img {
	box-shadow: 1px 1px 2px 1px #CCCCCC
}