@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


#login{
    margin: 8px auto 2%;
    transition: opacity 1s ease 0s;
    width: 400px;
    position: absolute;
    top: 29px;
    right: 27em;
    display:none;
     background-color: #fff;
}
#login span{
	color:red;
}
#triangle{
  width:0;
  border-top:12x solid transparent;
  border-right:12px solid transparent;
  border-bottom:12px solid #64CEFD;
  border-left:12px solid transparent;
  margin:0 auto;
}

#login h1{
  background:#64CEFD;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
}

input[type="email"],input[type="password"]{
  background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #555;
    font-family: "Open Sans",sans-serif;
    font-size: 95%;
    margin-bottom: 4%;
    padding: 12px;
    width: 374px;
}

input[type="submit"]{
  width:100%;
  background:#64CEFD;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}