@CHARSET "UTF-8";

body{
	 background-color: #0ca3d2;
}
#login_box {
   background-color: #fff;
    border: 7px solid rgba(12, 163, 210, 0.64);
    border-radius: 4px;
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 400px;
}

.errorMessage {
    color: #f75b9f;
    font-size: 15px;
    padding-left: 29px;
    padding-top: 7px;
    text-align: left;
}
#com_main_login {
    margin: 8em auto auto;
}

span {
    background-color: #f3f3f3;
    color: #715555;
    display: block;
    float: left;
    font-weight: bold;
    margin-bottom: 26px;
    padding-bottom: 12px;
    padding-top: 11px;
    width: 100%;
}

form {
    background-color: #fff;
    display: block;
    height: 100%;
}
.row input#LoginForm_username,.row input#LoginForm_password {
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
     padding: 3px 3px 3px 10px;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    font-size: 17px;
    height: 36px;
    width: 20em;
}
.rememberMe {
    text-align: left;
    padding-left:27px;
    font-size: 14px;
}
.row {
    margin-bottom: 15px;
    margin-top: 28px;
}
input[type="submit"] {
    background: #cde5ef linear-gradient(to bottom, #edf5f8, #cde5ef) repeat scroll 0 0;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-image: none;
    border-radius: 16px;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    box-shadow: 0 1px white inset, 0 1px 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
    color: #527881;
    font-size: 12px;
    font-weight: bold;
    height: 29px;
    outline: 0 none;
    padding: 0 18px;
    text-shadow: 0 1px #e3f1f1;
}

.row.buttons {
    margin-right: 29px;
    text-align: right;
}