@font-face{
	font-family: 'open-sans';
    src: url('font/open-sans.light.ttf');
}
*{
	 font-family: open-sans;
}

.button-column {
    font-size: 12px !important;
}
#logo {
    color: #fff;
    float: left;
    font-variant: all-petite-caps;
    font-weight: bold;
    padding: 4px 3px 5px 9px;
}
.uploadfilemutil {
  margin-bottom: 12px;
    padding-left: 159px;
    position: relative;
}
.row > span#imgs {
    font-size: 13px;
}
.badge.badge-info {
    background-color: #3a85ac;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    padding: 4px;
}
.badge.badge-success {
    background-color: #46864a;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 4px;
}
#content > div#thongkex {
    background-color: #fff;
    padding: 9px;
}
.uploadfilemutil > div#container {
    margin-top: 0;
    padding-left: 0;
}

#container > span {
    font-size: 14px;
    margin-left: 12px;
}
.ep {
    color: red;
}
table.detail-view th {
    border-bottom: 1px solid #c1c1c1 !important;
    text-align: right;
    width: 160px;
}
.row.buttons a {
    background: #ffd002 none repeat scroll 0 0;
   
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 28px;
    padding: 2px 9px;
    border-bottom:2px solid #BFBFBF;
    border-top:none;
    border-left:none;
    border-right:none;
}

#footers p {
    font-size: 14px;
}
.err {
    color: red;
    font-size: 13px;
    margin-left: 115px;
}

#error_upload{
	color:red
}
input.orders {
    text-align: center;
    width: 40px;
}
.row.buttons.rolesd {
    clear: both;
    margin-left: 0;
    width: 100%;
}
.war {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 10em;
    margin-top: 24px;
}
td .fa.fa-link {
    color: #6fb43f;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
     float: right;
}

#title_roles {
    font-size: 13px;
    font-weight: bold;
}
.title_roles_items {
    margin-left: 110px;
     overflow: hidden;
}
li#configure_ad a{
 background:#FB793B none repeat scroll 0 0;   
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 2px 16px;
    border-bottom:2px solid #BFBFBF;
    border-top:none;
    border-left:none;
    border-right:none;

}

table.detail-view {
     background: white none repeat scroll 0 0;
    border-collapse: collapse;
    clear: both;
    margin: 15px 0 12px !important;
    width: 100%;
}
.detail-view tr {
    background-color: #fff !important;
    
}
.detail-view tr td{
	border-bottom: 1px solid #C1C1C1 !important;
}
div#errorsda{
	background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 15px;
     border-radius: 4px;
     overflow: hidden;
}
#errorsda h2 {
    float: left;
    font-size: 16px;
}

#errorsda .error.h2err {
    float: left;
     margin-left: 12px;
}
.title_roles_items .itemsrole div {
    color: #3c8dbc;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 6px;
}
.title_roles_items .itemsrole li {
    font-size: 14px;
    line-height: 25px;
}
.itemsrole {
    float: left;
    margin-right: 22px;
     margin-bottom: 18px;
     min-height: 213px;
      min-width: 166px;
}
.title_roles_items > ul {
    line-height: 23px;
}
.title_roles_items input {
    margin-right: 6px;
}

.title_roles_items li {
    font-size: 14px;
}
#pickfiles{
	background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
}
.wh {
    width: 82px !important;
}

#filelist {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 8px;
    overflow: hidden;
}
.dele {
    color: #FB793B !important;
}
#imgupload {
    clear: both;
    margin-left: 7em;
    margin-top: 24px;
    overflow: hidden;
}
#imgupload li {
    float: left;
    margin-right: 19px;
    position: relative;
     margin-bottom: 18px;
}
.deleteimg {
    color: red;
    float: right;
     cursor: pointer;
}
#filelist > div {
    clear: both;
    color: red;
}
table#hh tr td {
    text-align: center;
     background-color: #fff;
}
input#YiiMenu_order_menu {
    width: 43px;
}
#container {
    padding-left: 111px;
}
table#hh {
    width: 100%;
}

table#hh tr:hover {
    background-color: #e5f1f4;
}
.showhidess {
	 cursor: pointer;
     float: left;
}
.showhidess .fa.fa-check-square {
    color: #99cc33;
}
.showhidess .fa.fa-minus-square {
    color: red;
}
#imgupload span {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
#icon_ajax {
     background: rgba(0, 0, 0, 0.18) none repeat scroll 0 0 padding-box;
    height: 100%;
    padding-top: 15em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    display:none;
}
#sendEmail {
    background-color: #f0ad4e;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 2px 8px;
    width: 71px;
     cursor: pointer;
}
table.detail-view th {
    color: #000;
    text-align: left !important;
    width: 160px;
}
#detail_order {
    color: #3498db;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 16px;
}
.title_order {
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 4px 11px;
     background-color: #6edcf6;
}
#ttien {
    color: #3498e1;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#sac{
	 border-top: 1px solid #e5e3e3;
    margin-top: 14px;
}
.dangcho {
    background-color: #F1C40F;
    border-radius: 3px;
    color: #fff;
    padding: 2px;
}
.hoanthanh {
    background-color: #2ECC71;
    border-radius: 3px;
    color: #fff;
    display: block;
    padding: 2px;
    width: 73px;
}
.items td a {
    margin-right: 4px;
     font-family: arial;
}
.imgs {
     float: left;
    font-size: 13px;
    margin-right: 23px;
}
table.items td{
	font-family: arial;
    text-align: center;
}
table.items td .csm {
    font-size: 15px;
}
td .fa-check-square-o {
    color:#07C414;
}
#yii-menu-form div label{
	 width: 132px;
}
.grid-view .filters input, .grid-view .filters select {
    border: 1px solid #ccc;
    font-family: arial;
    width: 100%;
}
.grid-view table.items tr.odd {
    background: #fff none repeat scroll 0 0 !important;
}
.items th {
    background: #51BFFF none repeat-x scroll left top !important;
}
#header{
	  background-color: #44c2e9;
    height: 46px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#logo > span#adminslo {
    display: inline-block;
    font-size: 20px;
    font-variant: normal;
    padding-left: 13px;
}
#logo > img {
    float: left;
    padding-top: 4px;
}
.grid-view table.items tbody tr:hover {
    background: #e7ebee none repeat scroll 0 0 !important;
}
ul.yiiPager .selected a {
    background: #5d9cec none repeat scroll 0 0 !important;
    color: #ffffff;
    font-weight: bold;
}

.pager ul.yiiPager li a {
    border: 1px solid #cfdbe2 !important;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold !important;
    padding: 7px 9px 4px;
    text-decoration: none;
}
#logo span a{
	color:#ffffff
}
#tk .fa-power-off {
    color: #fff;
    font-size: 16px;
    margin-left: 16px;
}
.row textarea {
     border: 2px solid #e7ebee;
    border-radius: 4px;
    margin-top: 9px;
    font-size: 13px;
}
#mainmenu .fa {
    color: #515253;
    margin-right: 8px;
}
.row select {
    border: 2px solid #e7ebee;
    border-radius: 4px;
    margin-top: 9px;
    padding: 5px 18px;
    width: 289px;
}
.row input[type="file"] {
    margin-top: 8px;
     float: left;
}

#sidebar a {
    background-color: #27c24c;
    border-bottom: 2px solid #bfbfbf;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 14px;
}
#cke_Product_imgvideopr,#cke_Product_specifications,#cke_Product_pr_mota,#cke_News_new_summary_en,#cke_News_new_summary_fr,#cke_News_new_summary_sp,#cke_News_new_content_en,#cke_News_new_content_fr,
#cke_News_new_content_sp,#cke_Configure_about_configure,#cke_Product_pr_summary,
#cke_Configure_title_contact,#cke_Configure_ServiceCenter,#cke_Configure_Contactstore,#cke_Configure_contact_top,#cke_Product_pr_khuyenmai ,#cke_Configure_manhung,
#cke_News_yii_overview_en,#cke_News_yii_overview_fr,#cke_News_yii_overview_sp
,#cke_News_yii_content_en,#cke_News_yii_content_fr,#cke_News_yii_content_sp,#cke_News_contentnewsd_sp,#cke_News_contentnewsd_fr,#cke_News_contentnewsd_en,
#cke_News_yii_wsattend_en,#cke_News_yii_wsattend_fr,#cke_News_yii_wsattend_sp,#cke_News_contentnewsd,
#cke_News_yii_attending_en,#cke_News_yii_attending_fr,#cke_News_yii_attending_sp,#cke_Configure_southafria_m,#cke_Configure_nigeria_m,#cke_Configure_angola_m,#cke_Configure_ghanaabc,#cke_Configure_southafria_c,
#cke_News_yii_director_en,#cke_News_yii_director_fr,#cke_News_yii_director_sp,#cke_YiiMenu_summary_en,#cke_YiiMenu_summary_fr,#cke_YiiMenu_summary_sp,#cke_Configure_nigeria_c,#cke_Configure_ghana_c,#cke_Configure_angola_c{
    margin-top: 12px;
    overflow: hidden;
}
.row > span#tts {
    font-size: 13px;
    margin-left: 8px;
    position: relative;
    top: -11px;
}
.price {
    float: left;
    width: 173px;
     text-align: left;
}
.number_cu {
    color: #969696 !important;
    font-size: 15px !important;
    font-style: oblique;
    text-decoration: line-through;
}
 #preview {
        position: absolute;
        border: 1px solid #ccc;
        background: #333;
        padding: 5px;
        display: none;
        color: #fff;
    }
    #preview img {
        max-width: 500px;
        max-height: 500px;
    }
    .grid-view table.items tr{
        height: 60px;
    }
tr.filters {
    height: auto !important;
}
#tk {
    color: #fff;
    float: right;
    font-size: 14px;
    font-weight: bold;
     margin-top: 12px;
    padding-right: 23px;
}
#mainmenu {
    border-right: 1px solid #d6d6d6;
    float: left;
    min-height: 32em;
    padding-right: 10px;
    padding-top: 20px;
}
#content_main th a {
    font-size: 12px;
    font-weight: bold;
}
td .fa-trash-o,td .fa-times {
    color: red;
}
td .fa-search {
    color: #3C8DBC;
}
td .fa-pencil-square-o {
    color: #F39C12;
}
.breadcrumbs > a {
    color: #616161;
    font-size: 13px;
    font-weight: bold;
}
.breadcrumbs span {
    color: #616161;
    font-size: 13px;
    font-weight: bold;
}
#logo > span#homelink {
     display: inline-block;
    margin-left: 62px;
    margin-top: 8px;
    padding-right: 12px;
}
.grid-view table.items th a {
    color: #fff !important;
    font-family: arial;
    font-size: 13px !important;
    font-weight: bold;
    text-decoration: none;
}
.items thead tr {
    height: auto !important;
}
.grid-view table.items th {
    background: white url("bg.gif") repeat-x scroll left top;
    color: white;
    font-family: arial;
    text-align: center;
}
#logo .fa-home {
    color: #fff;
    font-size: 23px;
}
span.required {
    color: red;
}
.row > input[type="checkbox"] {
    height: 30px;
    margin-top: 7px;
}
#content_main {
      overflow: hidden;
      padding-left: 9px;
   padding-top: 23px;
   background-color: #f3f5f6;
}
.container form input[type="submit"] {
    margin-right: 6px;
}
#mainmenu ul {
    width: 214px;
}
.updatesort {
    color: #1a33f2;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding-left: 6px;
}
.main_name {
    font-weight: bold;
}
.pager ul.yiiPager li a{
	 border: 1px solid #9aafe5;
    font-size: 11px;
    font-weight: bold !important;
    padding: 7px 9px 4px;
    text-decoration: none;
}
.pager ul.yiiPager li a i{
    font-size: 18px;

}
.grid-view .pager{
	 margin: 18px 25px 4px !important;
}
#mainmenu ul li a {
   color: #515253;
    font-family: open-sans;
    font-size: 13px;
    line-height: 36px;
    margin: 0;
    padding: 0 0 0 14px;
    text-decoration: none;
    text-shadow: none !important;
}
#mainmenu li {
    width: 214px;
     height: 41px;
      position: relative;
} 
.newt {
  background-color: red;
    border-radius: 11px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 19px;
    line-height: normal;
    position: absolute;
    right: 28px;
    text-align: center;
    top: 9px;
    width: 10%;
}
#mainmenu li.active {
    background-color:#ffffff ;
    border-left: 4px solid #44c2e9;
}
#mainmenu ul .fa.fa-angle-right {
    float: right;
    font-size: 18px;
    margin-top: 8px;
}
.portlet {
    clear: both;
    font-size: 11px;
    text-align: center;
}
#footers {
    border-top: 1px solid #e5e3e3;
    font-size: 11px;
    padding-bottom: 15px;
    padding-top: 15px;
}
#checkall {
    color: #ed9122;
    font-size: 14px;
    font-weight: bold;
}
.items td {
    font-size: 12px !important;
}
.items td.button-column {
    font-size: 14px !important;
}
#sidebar .portlet {
    margin-right: 23px;
    padding-top: 0;
    text-align: right;
    float: right;
}
.row > input[type="password"] {
   border: 2px solid #e7ebee;
    border-radius: 4px;
    height: 30px;
    margin-top: 7px;
    width: 285px;
}
.updatesort i {
    color: #03a9f4;
    font-size: 15px;
}
.container {
    min-height: 28em;
    overflow: hidden;
}
#page {
    margin-top: 39px;
}
#Administrator_verifyCode {
    height: 30px;
    width: 263px;
}
#Administrator_code {
    height: 30px;
    width: 289px;
}
#yw1 > input {
    margin-top: 9px;
}
#captchas{
	 margin-left: 112px;
    margin-top: 12px;
}

#captchas > a {
    font-size: 14px;
    left: 18px;
    position: relative;
    top: -17px;
}
#mainmenu ul li.active a {
    background-color: #ffffff;
    color: #44c2e9;
}
#mainmenu ul li.active a i{
    color: #44c2e9;
}
#mainmenu ul li a:hover {
    color: #44c2e9;
}
#mainmenu ul li:hover {
    background-color: #ffffff;
    color: #44c2e9;
    cursor: pointer;
}
#mainmenu ul li:hover{
	 border-left: 4px solid #44c2e9;
}
#mainmenu ul li{
	 border-left: 4px solid #fff;
}
#mainmenu ul li:hover a{
    color: #44c2e9;
}
#mainmenu ul li:hover i{
    color: #44c2e9;
}
.hasDatepicker {
    width: 143px !important;
}

.ui-datepicker-trigger {
    height: 23px;
    width: 23px;
}
#thongkex > div#datelist {
    margin-bottom: 18px;
    margin-top: 14px;
    overflow: hidden;
}
.row > input#thongkesubmit {
    margin-top: 10px;
}

#yw0 > div#datelist {
    margin-bottom: 10px;
    margin-top: 9px;
      position: relative;
    overflow: hidden;
}
.ui-datepicker-trigger {
    height: 23px;
    position: absolute;
    right: -27px;
     cursor: pointer;
    top: 13px;
    width: 23px;
}
#datelist .row {
    clear: none;
    float: left;
    margin-right: 34px;
    position: relative;
}
.portlet-title {
    color: #298dcd;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
#content_main h4 {
   clear: both;
    color: #2ca9f4;
    margin-bottom: 10px;
    margin-top: 5px;
}
.search-button {
    background-color: red;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 3px;
}
.breadcrumbs {
    color: #7478f7;
    font-size: 12px;
    margin-bottom: 12px;
    margin-top: 7px;
}
.chosen-container.chosen-container-multi {
    margin-bottom: 6px;
    margin-top: 11px;
}
.chosen-choices {
    border: 1px solid #e7ebee !important;
}
.row {
    line-height: 38px;
   overflow: hidden;
    clear: both;
}
.row label {
     color: #656565;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    width: 160px;
}
.form {
   background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 2px 0 #cccccc;
    margin-bottom: 11px;
    margin-top: 18px;
    padding: 9px;
}

#imguploadmutil {
    margin-bottom: 6px;
    margin-left: 160px;
    margin-top: 20px;
    overflow: hidden;
}
#imguploadmutil span {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
}

.showhides_pro {
    float: left;
     cursor: pointer;
}
.showhides_pro .fa.fa-check-square {
    color: #99cc33;
}
.showhides_pro .fa.fa-minus-square {
    color: red;
}
.deleteimg_pro {
    float: right;
    color: red;
     cursor: pointer;
}
#imguploadmutil li {
    float: left;
     position: relative;
    margin-right: 10px;
     margin-bottom: 6px;
}
.row > input[type="text"] {
   border: 2px solid #e7ebee;
    border-radius: 4px;
    height: 30px;
    margin-top: 7px;
    width: 285px;
}
.row.buttons {
    margin-left: 105px;
    margin-top: 10px;
    padding: 9px;
}
.errorMessage {
    clear: both;
    color: red;
    font-size: 12px;
    text-indent: 160px;
}
.summary {
    font-size: 14px;
}
.search-form {
    background-color: #eeeeee;
    margin-top: 8px;
    padding-bottom: 9px;
}
.container #content input[type='submit']{
	 background: #FB793B none repeat scroll 0 0;   
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 28px;
    padding: 2px 9px;
    border-bottom:2px solid #BFBFBF;
    border-top:none;
    border-left:none;
    border-right:none;
}