*{
	margin:0;
	padding:0;
}

#content {
    margin: 8em auto auto;
    width: 400px;
}
body {
    background-image: url("../..//images/home/err/bg-err.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#content {
    background-image: url("../..//images/home/err/bg1.png");
    background-repeat: no-repeat;
    border-radius: 4px;
    border-top: 4px solid #848383;
    height: 268px;
    margin: 8em auto auto;
    width: 313px;
     text-align: center;
}

h2 {
    color: #da4839;
    font-family: arial;
    font-size: 58px;
    font-weight: bold;
    margin-top: 55px;
}

#title_err {
   background-color: #000;
    border-radius: 4px;
    color: #fff;
    font-family: arial;
    height: auto;
    margin: 8px auto 24px;
    padding: 6px 0;
    width: 294px;
}

a {
    color: #0099dd;
    font-family: arial;
    font-weight: bold;
}