
@import url("sliders.css");
html,body{font-family : Arial,Tahoma,Verdana;font-size : 12px;margin: 0;padding: 0;color:#333}
form{margin: 0; padding: 0}
a{text-decoration:none; color:#333}
a:hover {color: #A6171D}
a:active {color: #A6171D}

.clr{clear:both}
.w10{width:10px}
.br{border:1px solid #CCC}
#divTopLeft{width:155px}
table,td{font-size:12px}

.mgt{margin-top:15px;}
/*================================== top ================================*/
.top .br-top{background:url(../skin/bg-top.jpg) repeat-x; padding:5px 0 0 0; height:33px}
.top .br-top .i-project{background:url(../skin/ic.jpg) no-repeat 0 6px; padding:0 5px 0 10px}
.top .in-top .logo{height:94px; width:380px; float:left}
.top .in-top .r-top{float:right; text-align:right; width:739px; margin-top:8px}
.top .in-top .r-top a{color:#838383; font-size:11px}
.top .in-top .btSearch{background:url(../skin/go.png) no-repeat; border:0; width:20px; height:20px}

	.activeMenus a {
    color: #fc0 !important;
}
	.left ul li:last-child {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 9px;
}

	.lienhes {
    line-height: 35px;
    width: 96px;
}
div.form {
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 21px;
}
.lienhe_input {
    height: 31px;
    width: 26em;
}
	.seach_title {
    overflow: hidden;
    padding-left: 11px;
}
div.error {
    min-height: 350px;
}
div.guis input[type='submit']{
    height: 25px;
    width: 56px;
     margin-left: 97px;
        border-radius: 5px;
     background: #ed9122 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    padding: 4px 8px;
}
div.guis input[type='reset']{
	   background: #ed9122 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 26px;
    padding: 5px 2px;
    width: 56px;
       border-radius: 5px;
}
.errorMessage {
    color: red;
    margin-left: 97px;
}
.seach_img {
    float: left;
}
.btn_keyword {
    -moz-appearance: none;
    appearance: none;
-webkit-appearance: none;
-ms-appearance: none;
-o-appearance:none;
    background-color: #fff;
    border: 0 none;
    position: absolute;
    right: 8px;
    top: 2px;
}
.seachs {
    display: block;
    margin-bottom: 13px;
}
	.bxslider.slidesjs-slide span a{
   background: rgba(0, 0, 0, 0.41) none repeat scroll 0 0 padding-box;
    color: #fff;
    font-family: tahoma;
    font-size: 22px;
    padding: 6px 10px;
    position: absolute;
    right: 0px;
    top: 16em;
}
	#slides img{
	    height: 428px;
    width: 100%;
	}
.top .in-top .minitop{float:left; border-left:1px dotted #ccc; text-align:left; margin:3px 10px 0 0; padding:4px 0 4px 15px; background:url(../../images/home/images/ic-top.gif) no-repeat 5px 8px}
.top .in-top .minitop a{font-size:11px; color:#666666}
.lang{margin-top:10px;font-size:11px}
.lang img{margin-top:5px}
#menutop ul{list-style:none;position:relative;padding:0;margin:0}
.navbar-nav > li > a{
	line-height:33px !important;
}
#menutop ul li.first{float:left;line-height:33px;background:url(../skin/mn-home.png) no-repeat center}
#menutop ul li a{color:#fff;padding:0 20px;display:block;text-transform:uppercase;font-weight:bold}
#menutop ul li a:hover{color:#fc0;background-color: #4162a7;}

.doitac{
	overflow: hidden; float: left; width: 110px; height: 38px;
}
#menutop ul li ul li{border:0;margin:0;width:200px;background:none;height:28px;line-height:28px}
#menutop ul li ul li a{color:#fff;text-transform:none;font-weight:normal}
#menutop ul li ul li a:hover{color:#fc0;background:none}
#menutop ul li.current{color:#fc0}
#menutop ul li.current a{color:#fc0;}
/*================================== home ==============================*/
.box-home{margin-bottom:12px;float:left;width:320px;}
.fl .prev {
    font-size: 31px;
    left: 0;
    position: absolute;
    top: -1px;
    cursor: pointer;
}
.carousel_slide ul li{
	    border-radius: 6px;
	
}
#main_paginnation ul li {
    float: left;
    margin-left: 4px;
}
.pager li > a, .pager li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px !important;
    display: inline-block;
    padding: 2px 10px !important;
}
.page.selected a {
    background-color: #4285f4;
    color: #fff;
}
.pager li > a:focus, .pager li > a:hover {
    color: #000;

}
.fl .next {
    font-size: 32px;
    position: absolute;
    right: -10px;
    top: -2px;
    cursor: pointer;
}
.carousel {
    margin-left: 21px;
    margin-right: 12px;
}
.about{width: 320px}
.about h4{font-size:16px;padding:10px 0 10px 50px;margin-bottom:10px;font-weight:bold;background:url(../../images/home/images/about.png) no-repeat; border-bottom:4px #A8B4B4 solid}
.inabout{text-align:justify;line-height:170%}
.more{background:url(../../images/home/images/more.png) no-repeat 2px;padding-left:22px;float:right}
.more a{color:#777}
.news{margin:0 68px}
.box-home h4{font-size:16px;padding:10px 0 10px 50px;margin-bottom:10px;font-weight:bold;background:url(../../images/home/images/about.png) no-repeat; border-bottom:4px #A8B4B4 solid}
.news ul{list-style:none;padding:0;margin:8px 0 0 0}
.news li{margin:4px 0;padding-bottom:4px}
.news li.last{border-bottom:0;margin:4px 0;padding-bottom:4px}
.box-home li a{padding:5px 0 5px 10px;background:url(../../images/home/images/ic_Left.png) no-repeat 2px}
.codong{width:320px;}
.codong h4{font-size:16px;padding:10px 0 10px 50px;margin-bottom:10px;font-weight:bold;background:url(../../images/home/images/about.png) no-repeat; border-bottom:4px #A8B4B4 solid}
.codong ul{list-style:none;padding:0;margin:8px 0 0 0}
.codong li{border-bottom:1px solid #ccc;margin:4px 0;padding-bottom:4px}
.codong li.last{border-bottom:0;margin:4px 0;padding-bottom:4px}
.codong li a{padding:5px 0 5px 10px;background:url(../../images/home/images/ic_Left.png) no-repeat 2px}
.news img, .codong img{margin-bottom:10px;border:0;width:320px}
/*================================== content ==============================*/
.divPath{color:#000; margin:0 8px 15px 0px;font-size:11px;}
.divPath a{color:#000}
.title-path{color:#000; text-transform:uppercase; padding-bottom:14px}
.content .title{font-weight:bold; font-size:14px; color:#000}
.content .css-date{font-size:11px; color:#848484; font-weight:normal}
.chitiet{padding-right:10px; padding-bottom:10px}
.chitiet .h-other{border-bottom:1px solid #CCCCCC; font-weight:bold; margin:10px 0 10px 0; text-transform:uppercase}
.chitiet .i-other{background:url(../../images/home/images/more.png) no-repeat 0 3px; padding-left:20px; font-weight:bold}
.chitiet .i-other a{color:#000}
div.slidesjs-container,div.slidesjs-control{
	height:auto !important;
}
div.bx-wrapper{
	  margin: 0 !important;
}
table .css-date {
    color: #848484;
    font-size: 11px;
    font-weight: normal;
}
.content .i-news{margin-bottom:10px; margin-right:10px; border-bottom:1px solid #ccc}
.content .i-news a{font-weight:bold; font-size:12px}
.content .i-news a:hover{font-weight:bold; font-size:12px}
.content .i-news .imgnews{border:1px solid #CCCCCC; margin-right:10px; float:left}
.content .i-news .imgnews img{width:128px; height:83px; border:0}
.content .i-news .intro{text-align:justify; color:#222; font-family:Arial; line-height:150%}
.content .list-news{background:url(../../images/home/images/more.png) no-repeat 0 2px; padding-left:20px; font-weight:bold}
.content .list-news span{font-size:10px; color:#848484}
.detail {background:url(../skin/detail.png) no-repeat; padding:0 15px 5px 13px; width:71px; float:right}
.detail a{color:#fff; font-size:11px; font-weight:bold}
.css-date {
    margin-bottom: 6px;
}
.detail-home {background:url(../../images/home/images/more.png) no-repeat 2px; padding:2px 0 2px 20px; margin-top:8px}
.detail-home a{color:#777; font-weight:bold}

.detail-white{background:url(../../images/home/images/detail-white.png) no-repeat right; padding:2px 15px 3px 13px; text-align:right}
.detail-white a{color:#000; font-size:11px}
.wTintuc{width:180px}
.back {background:url(../../images/home/images/top.png) no-repeat right; padding:0 15px 0 0; text-align:right}
.back a{color:#000; font-size:11px; font-weight:bold}

.content-project{width:613px; margin-left:20px; padding-top:15px; padding-bottom:20px}
.i-project{background:#fff url(../../images/home/images/project.jpg) repeat-x bottom; border:#B5B5B5 1px solid; padding:10px;min-height:140px}
.t-project{padding-bottom:8px}
.i-project a{font-weight:bold}
.i-project .img-project{width:127px; height:90px; border:1px solid #ccc; margin-right:10px; float:left}
.left-project-detail{width:265px; float:left; margin-right:15px}
.intro-project{float:right; width:480px}
.img-project-detail{width:300px; height:185px; border:1px solid #000}
.tailieu{background:#fff url(../../images/home/images/tailieu.jpg) no-repeat; text-align:center; width:140px; padding:4px 0 4px 0}
.tailieu a{color:#fff; font-weight:bold}
.slide-project{}
.slide-project .l-slide-project{width:492px; height:239px}
.slide-project .i-slide-project{float:left; margin:0 3px 3px 0}
.slide-project .i-slide-project .img-slide-product{width:106px; height:60px; border:1px solid #ccc}
.moban{width:29%;float:left;margin:6px}
.right-project{float:right; width:200px;margin:45px 15px 0 0}
.right-project h3{color:#ff0000;text-transform:uppercase;margin-bottom:17px}
.right-project ul{list-style:none;margin:0;padding:0}
.right-project ul li{border:1px solid #ccc;background:#fff;margin-bottom:10px;padding:1px}
.right-project ul li img{width:198px;height:154px;display:block}
.right-project ul li a{color:#34383C;font-weight:bold}

.i-Anh{width:200px; float:left; margin:12px}
.i-Anh img{width:200px; height:120px; border:0}

.emailprint{height:28px; line-height:28px; text-align:right; padding-top:10px}
.emailprint a{color:#999;margin-right:15px}
.emailprint a:hover{color:#6495ed}
.emailprint ul{margin:0;padding:0;display:inline;list-style-type:none}
.emailprint ul li{float:left}
.emailprint .dt-print{background:url(../../images/home/images/print.jpg) no-repeat 0 6px; padding:0 0 0 19px; float:left}
.emailprint .dt-respond{background:url(../../images/home/images/sendtofriend.jpg) no-repeat 0 6px; padding:0 0 0 20px; float:left}

/*================================== left ================================*/
.left .bg-menuleft{background:#CCD3D9;margin-bottom:15px;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;-khtml-border-radius: 6px}
.left ul{list-style:none;padding:0;margin:0}
.left ul li{padding:8px 0 8px 16px; background:url(../../images/home/images/ic-left.jpg) no-repeat bottom}
.left ul li.last{padding:8px 0 8px 16px; background:none}
.left ul li a{color:#2A3055;font-size:14px}
.left h3{font-size:16px; font-weight:bold; padding:8px 0 8px 15px; border-bottom:2px solid #F11823}
/*================================== right ================================*/
.right{float:left; width:250px}
/*================================== footer ===============================*/
.f-doitac{padding:10px 0;/*border:1px solid #ccc*/border-top:1px solid #ccc;  position: relative;}
.footer{padding:10px 0 10px 0}
/*======Form========*/
#ContactFrm{}
#ContactFrm span{color:#ff3300}
#ContactFrm .cssInput{border:1px solid #ccc; width:400px;height:20px}
.btnFrm{background:#ED9122;border:0;color:#fff;padding:4px 8px}
h1, h2, h3{margin : 0; padding:0;}
h1 {font-size:16px}
h2 {font-size:14px}
/*======================GALLERY========================*/
.i-gallery{width:210px; float:left; text-align:center; margin:0 20px 10px 0; padding:10px 0 10px 0; border:1px solid #ccc; background:#fff url(../skin/gallery.jpg) bottom repeat-x}
.i-gallery .img-gallery{width:190px; height:96px}
.i-gallery .n-gallery{text-align:center; padding-bottom:5px; width:210px}
/*======================VIDEO========================*/
.title-video{text-transform:uppercase; font-weight:bold}
.i-video{width:150px; float:left; border:1px solid #ccc; margin-right:20px; margin-bottom:10px}
.i-video .img-video{width:150px; height:100px}
.i-video .n-video{text-align:center; padding-bottom:5px; width:150px}
/*======================SITEMAP========================*/
.Top-sitemap{background:url(../../images/home/images/folder.gif) no-repeat; padding-left:24px}
.T-sitemap{background:url(../../images/home/images/T.gif) repeat-y; padding-left:24px}
.I-sitemap{background:url(../../images/home/images/I.gif) repeat-y}
.L-sitemap{background:url(../../images/home/images/L.gif) repeat-y; padding-left:35px; margin-left:25px}
.border {
    border-radius: 6px;
}
#menutop ul li:hover ul{
	display:inline;
}

@media screen and (min-width: 1099px) {
    .main{margin:0 auto;width:1100px}
    .OperationCell{width:1100px; text-align:left;margin-bottom:15px}
    .content{width:845px; font-family:Arial; line-height:150%; float:right; margin-left:20px; padding-top:15px; padding-bottom:20px}
    .left{float:left; width:223px; text-align:left;margin-top:20px}
    
}

@media screen and (max-width: 500px) {
	#OperationCell div.left{
	    display:none;
	}
	.content{
	   padding-left:0 !important;
	}
	}

@media screen and (max-width: 1099px) {
    .news {
    margin: 0 !important;
}
.left {
    float: left;
    margin-top: 20px;
    text-align: left;
    width: auto !important;
}
.content {
    float: none !important;
    font-family: Arial;
    line-height: 150%;
    margin-left: 0 !important;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 15px;
    width: auto !important;
}
.main {
    padding: 0 4px;
}
.box-home {
    float: left;
    margin-bottom: 8px !important;
    width: 100% !important;
}
}


.navbar-toggle .icon-bar {
    background-color: #4162A7;
}
.navbar-default .navbar-toggle {
    border-color: red;
}
 div button.menu_top{
	 border: 1px solid #4162a7 !important;
}
 div button.menu_top{
	 border: 1px solid #4162a7 !important;
}

.bx-wrapper .bx-viewport{
	left:0 !important;
	    border: 0 none !important;
	      margin-top: 6px;
}
@media screen and (max-width: 656px) {
	

}
	a.slidesjs-navigation{
	   display: none;
	}
	ul.slidesjs-pagination{
	   display: none;
	}
@media screen and (max-width: 768px) {
   .top .in-top .logo {
     float: left;
    height: 71px;
    width: 275px;
}
.proWithBrand{
	display:none;
}
.navbar-toggle{
	 margin-top: 18px !important;
}
.collapse23{
	padding:0 !important;
}
#main-menu li{
  background-color: #4162a7;}
  .top .in-top .search{  position: relative; width:100%; height:23px;margin:6px 5px 0 0}
  .top .in-top .input{
  border: 0 none;
    border-radius: 8px;
    font-size: 11px;
    height: 22px;
    margin: 0;
    padding-right: 26px;
    width: 100%;
    padding-left: 8px;
     border: 1px solid #c2c3c4;
	}
	#menutop ul li a{
	  display:inline !important;
	}
	#menutop ul li ul li{
	    padding-left: 14px;
	}
}
@media screen and (max-width: 400px) {
	.top .in-top .logo {
    float: left;
    height: 55px;
    width: 212px;
}
}	
@media screen and (min-width: 769px) {
	#menutop ul li ul{position:absolute;width:200px;display:none;background:#4162A7;top:33px;z-index:10001
}
.fr{float:right}
	#menutop ul li:first-of-type {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
	.menutop{background:url(../../images/home/images/menutop.jpg) repeat-x}
	.fl{float:left; position: relative;}
	#menutop{height:33px}
	#menutop ul li{float:left;line-height:33px; background: rgba(0, 0, 0, 0) url("../../images/home/images/line.jpg") no-repeat }
	.top .in-top .search{  position: relative; width:231px; height:23px;margin:6px 5px 0 0}
	.top .in-top .input{
  border: 0 none;
    border-radius: 8px;
    font-size: 11px;
    height: 22px;
    margin: 0;
    padding-right: 26px;
    width: 227px;
    padding-left: 8px;
	}
	}
	.bx-wrapper .bx-pager{
	   display:none !important;
	}