html,body{overflow-x: hidden !important;}
.ground-web{
    position: fixed;
    text-align: center;
    opacity: .4;
    width: 100%;
    z-index: -999;
    margin: 0 auto;
    max-width: 1366px;
max-height:
}

.ground-web>img{
  width: 100%;
  height: auto;
max-height: 1042px;
}
#event_hot{background: #3b3b3b;}
.map>map{
    position: absolute;
    top: -5px;
    left: -5px;
}
.information{
    display: none;  
    background: #fff;
    position: absolute;
    top: 24px;
    left: 20px;
    box-shadow: 0 0 4px 1px #999;
    text-align: center;
      padding: 1px;
    font-size: 12px;
    z-index: 10;
    min-width: 100px;
  }

  .information>span{
    white-space: nowrap;
  }
.information>span{
		white-space: nowrap;
	}

  .information img{
    width: 50px;
    height: 50px;
    float: left;
    padding: 5px;
  }

  .touch{
    height: 24px;
    display: none;
    background: url('/images/home/images/location.gif') center center no-repeat;
    background-size: 24px 24px;
    position: absolute;
  }

  .map{width: 600px;height: 300px;background: url('/images/home/images/maps.gif') center center no-repeat;background-size: 100% auto; display: block; float: right;
    margin-top: -400px; position: relative;    left: -25px;
    top: 10px;}
  img{border: none;}

  .map>.logo{
    top: 50px;
    left: 200px;
    position: absolute;
    width: 200px;
    height : auto;
    opacity: .4;
    z-index: 0;
  }
 .nation{display: block; width: 40px; min-height: 100px; z-index: 1;}
  .sin {
    top: 103px;
    left: 447px;
}
  .vie {
    top: 12px;
    left: 451px;
}
  .vie>.nation{background-position: 0px -3px;}

  .sou {
    top: 253px;
    left: 149px;
}
  .sou>.nation{ background-position: -450px -9px;}

  .ken{top: 97px;
    left: 196px;}
  .ken>.nation{
    background-position: -252px -3px;}

  .gha{    top: 82px;
    left: 45px;}
  .gha>.nation{ background-position: -219px -172px;}

  .nig {
    top: 68px;
    left: 80px;
}
  .nig>.nation{  background-position: -124px -162px;}

  .shu{    left: 167px;
    top: 25px;}
  .shu>.nation{
      background-position: -62px 7px;}

  .eth{    left: 193px;
    top: 59px;}
  .eth>.nation{
    background-position: -159px -2px;}

  .taz{    left: 180px;
    top: 126px;}
  .taz>.nation{  
    background-position: -303px -3px;}

  .moz{left: 187px;
    top: 183px;}
  .moz>.nation{  
    background-position: -374px -4px;}

  .con {
    left: 140px;
    top: 109px;
}
  .con>.nation{ 
    background-position: 0 -151px;}

 .nam {
    left: 112px;
    top: 216px;
}
  .nam>.nation{ 
    background-position: -537px -12px;}

.left{float: left;}

.fixed{position: fixed;}

.social_network{background-color: #ccc; height: auto;width: 50px;z-index: 9999;}

.social_network>ul>li{list-style: none; margin: 0;float: left;width: 50px; height: 50px; text-align: center;padding-top: 3px; }
.social_network>ul{
    list-style-type: none;
    margin: 0 !important;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}


.social_network>ul>li>a>i{color: #fff; padding: 10px 0;}

.face{background-color: #3b5998; width: 70px;}
.linkedin{background-color: #0077B5;}
.twitter{background-color: #00ACED;}
.youtube{background: #E32C28;}