@media screen and (max-width: 1199px) and (min-width: 768px)
{
#containner{
width: 100%;
min-height: 600px;
}

.map{
float: none;
margin: 50px;
}

#bg_mainh{
height: 960px;
background-color: #3b3b3b;
}
}
@media screen and (max-width: 767px){
.map{
display: none !important;
}
}