﻿
/* ########### Cung thuong hieu ########### */
.proWithBrand 
{
    width:800px; height:38px; float:left;
}
.proWithBrand img.proImagesProduct 
{
	float: left;
    margin: 0;
    font-size:14px;
    text-transform: uppercase;
    color: #ee3124;
	clear: both;
}
.proWithBrand a {cursor:pointer;}
.proWithBrand #prev_button, .proWithBrand #next_button  
{
    display:block; float:left; width:15px; height:38px;}
.carousel_panel{height:38px;}    
.proWithBrand #prev_button { background:url(../../images/home/images/slideitmoo_back.png) no-repeat center;}
.proWithBrand #next_button { background:url(../../images/home/images/skin/slideitmoo_forward.png) no-repeat center;}
.proWithBrand #carousel_panel_id 
{
    float: left; 
}
.proWithBrand #carousel_panel_id ul
{
    z-index: 1;  left: -2016px;
}
.proWithBrand #carousel_panel_id li  
{
	width:110px; 
    height: 38px;
    float: left; 
    display: block; 
    padding: 0;
    text-align:center;
    overflow: hidden;
    background:url(../skin/carousel_item.png) no-repeat center;
}
.proWithBrand #carousel_panel_id li a 
{    
    color:#505542;
}
.proWithBrand #carousel_panel_id li a:hover 
{    
    color:#ffcc00; 
}
.proWithBrand #carousel_panel_id img
{
	width:85px;
	height:38px;
	border:0;
}