.slides_container {width:1100px;height:431px;overflow:hidden;position:relative;display:none;margin:0 auto}
#slides .slide {display:block;}
#slides .slide img {width:1100px;height:431px;display:block;border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px}
#slides .slide h3 {background:url(../skin/transparent_bg.png);text-align:center;padding:10px 0;margin:0;width:1000px;position:absolute;bottom:0;left:0}
#slides .slide h3 a{color:#fff;font-size:14px;text-transform:uppercase}
#slides .next,#slides .prev {position:absolute;top:107px;left:-39px;width:24px;height:43px;display:block;z-index:101;}
#slides .next {left:270px;}
.pagination {margin-right:10px;position:absolute;top:12px;right:5px;z-index:1000;display:none}
.pagination li {float:left;margin:0 1px;list-style:none;}
.pagination li a {display:block;width:12px;height:0;padding-top:12px;background:url(../skin/pagination.png) 0 0;float:left;overflow:hidden;}
.pagination li.current a {background-position:0 -12px;}